# Importing Libraries

In [1]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

# Import Pandas

In [6]:
import pandas as pd

# Read Excel File

In [11]:
dataset1=pd.read_excel("Data Sheet Excel.xlsx")
print("DATAFRAME")
dataset1

DATAFRAME

,1,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9
0,2,0.489005,0.248247,0.098675,0.627897,0.043393,0.850521,0.780437,0.476871,0.611141
1,3,0.828603,0.364154,0.627963,0.892696,0.047049,0.851582,0.382505,0.757946,0.410389
2,4,0.990164,0.271673,0.538792,0.315696,0.088604,0.788763,0.336035,0.083864,0.685473
3,5,0.012846,0.588842,0.393501,0.396884,0.178291,0.170352,0.154699,0.894480,0.473509
4,6,0.287632,0.007834,0.839231,0.014259,0.807669,0.269452,0.459686,0.656501,0.750430
...,...,...,...,...,...,...,...,...,...,...
245,247,0.472229,0.465019,0.295654,0.186732,0.696792,0.742051,0.567090,0.162889,0.099656
246,248,0.290732,0.303522,0.174832,0.695804,0.010771,0.707775,0.738938,0.628441,0.785450
247,249,0.208259,0.016880,0.886709,0.712003,0.314000,0.386791,0.302667,0.787542,0.641713
248,250,0.151343,0.307096,0.452477,0.354074,0.056164,0.567059,0.906514,0.737428,0.787865
249,251,0.262282,0.076309,0.464775,0.644578,0.139228,0.343091,0.023051,0.797111,0.815735

# Implementation of Different Function

# 1. Datatype

In [14]:
dataset1.dtypes

1            int64
Grade 1    float64
Grade 2    float64
Grade 3    float64
Grade 4    float64
Grade 5    float64
Grade 6    float64
Grade 7    float64
Grade 8    float64
Grade 9    float64
dtype: object

# 2. Head

In [15]:
dataset1.head()

,1,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9
0,2,0.489005,0.248247,0.098675,0.627897,0.043393,0.850521,0.780437,0.476871,0.611141
1,3,0.828603,0.364154,0.627963,0.892696,0.047049,0.851582,0.382505,0.757946,0.410389
2,4,0.990164,0.271673,0.538792,0.315696,0.088604,0.788763,0.336035,0.083864,0.685473
3,5,0.012846,0.588842,0.393501,0.396884,0.178291,0.170352,0.154699,0.894480,0.473509
4,6,0.287632,0.007834,0.839231,0.014259,0.807669,0.269452,0.459686,0.656501,0.750430

In [17]:
dataset1.head(10)

,1,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9
0,2,0.489005,0.248247,0.098675,0.627897,0.043393,0.850521,0.780437,0.476871,0.611141
1,3,0.828603,0.364154,0.627963,0.892696,0.047049,0.851582,0.382505,0.757946,0.410389
2,4,0.990164,0.271673,0.538792,0.315696,0.088604,0.788763,0.336035,0.083864,0.685473
3,5,0.012846,0.588842,0.393501,0.396884,0.178291,0.170352,0.154699,0.894480,0.473509
4,6,0.287632,0.007834,0.839231,0.014259,0.807669,0.269452,0.459686,0.656501,0.750430
5,7,0.816397,0.892042,0.950599,0.377022,0.728596,0.390418,0.685617,0.185812,0.832257
6,8,0.621965,0.996450,0.874535,0.079879,0.552022,0.989869,0.046129,0.322001,0.744482
7,9,0.000425,0.641134,0.092083,0.913880,0.093682,0.521778,0.649614,0.889452,0.242583
8,10,0.108886,0.635218,0.639928,0.446564,0.844413,0.707898,0.614128,0.695400,0.179227
9,11,0.109106,0.039767,0.665862,0.688554,0.775136,0.941665,0.885173,0.895832,0.736921

# 3. Tail

In [16]:
dataset1.tail()

,1,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9
245,247,0.472229,0.465019,0.295654,0.186732,0.696792,0.742051,0.567090,0.162889,0.099656
246,248,0.290732,0.303522,0.174832,0.695804,0.010771,0.707775,0.738938,0.628441,0.785450
247,249,0.208259,0.016880,0.886709,0.712003,0.314000,0.386791,0.302667,0.787542,0.641713
248,250,0.151343,0.307096,0.452477,0.354074,0.056164,0.567059,0.906514,0.737428,0.787865
249,251,0.262282,0.076309,0.464775,0.644578,0.139228,0.343091,0.023051,0.797111,0.815735

In [18]:
dataset1.tail(10)

,1,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9
240,242,0.524786,0.450952,0.145890,0.221422,0.105840,0.659838,0.839445,0.360945,0.307751
241,243,0.568553,0.478625,0.350100,0.484285,0.411368,0.865371,0.325719,0.686371,0.876215
242,244,0.943236,0.717480,0.197132,0.501499,0.800941,0.451592,0.117734,0.297176,0.682767
243,245,0.334092,0.263977,0.714993,0.468626,0.295818,0.864708,0.831780,0.485446,0.185844
244,246,0.468248,0.518254,0.376752,0.706640,0.770734,0.546066,0.260566,0.674065,0.709068
245,247,0.472229,0.465019,0.295654,0.186732,0.696792,0.742051,0.567090,0.162889,0.099656
246,248,0.290732,0.303522,0.174832,0.695804,0.010771,0.707775,0.738938,0.628441,0.785450
247,249,0.208259,0.016880,0.886709,0.712003,0.314000,0.386791,0.302667,0.787542,0.641713
248,250,0.151343,0.307096,0.452477,0.354074,0.056164,0.567059,0.906514,0.737428,0.787865
249,251,0.262282,0.076309,0.464775,0.644578,0.139228,0.343091,0.023051,0.797111,0.815735

# 4. Index

In [20]:
dataset1.index

RangeIndex(start=0, stop=250, step=1)

# 5. Columns

In [21]:
dataset1.columns

Index([        1, 'Grade 1', 'Grade 2', 'Grade 3', 'Grade 4', 'Grade 5',
       'Grade 6', 'Grade 7', 'Grade 8', 'Grade 9'],
      dtype='object')

# 6. Describe

In [22]:
dataset1.describe

<bound method NDFrame.describe of        1   Grade 1   Grade 2   Grade 3   Grade 4   Grade 5   Grade 6  \
0      2  0.489005  0.248247  0.098675  0.627897  0.043393  0.850521
1      3  0.828603  0.364154  0.627963  0.892696  0.047049  0.851582
2      4  0.990164  0.271673  0.538792  0.315696  0.088604  0.788763
3      5  0.012846  0.588842  0.393501  0.396884  0.178291  0.170352
4      6  0.287632  0.007834  0.839231  0.014259  0.807669  0.269452
..   ...       ...       ...       ...       ...       ...       ...
245  247  0.472229  0.465019  0.295654  0.186732  0.696792  0.742051
246  248  0.290732  0.303522  0.174832  0.695804  0.010771  0.707775
247  249  0.208259  0.016880  0.886709  0.712003  0.314000  0.386791
248  250  0.151343  0.307096  0.452477  0.354074  0.056164  0.567059
249  251  0.262282  0.076309  0.464775  0.644578  0.139228  0.343091

      Grade 7   Grade 8   Grade 9
0    0.780437  0.476871  0.611141
1    0.382505  0.757946  0.410389
2    0.336035  0.083864  0.685473
3    0.154699  0.894480  0.473509
4    0.459686  0.656501  0.750430
..        ...       ...       ...
245  0.567090  0.162889  0.099656
246  0.738938  0.628441  0.785450
247  0.302667  0.787542  0.641713
248  0.906514  0.737428  0.787865
249  0.023051  0.797111  0.815735

[250 rows x 10 columns]>

# 7. Info

In [24]:
dataset1.info

<bound method DataFrame.info of        1   Grade 1   Grade 2   Grade 3   Grade 4   Grade 5   Grade 6  \
0      2  0.489005  0.248247  0.098675  0.627897  0.043393  0.850521
1      3  0.828603  0.364154  0.627963  0.892696  0.047049  0.851582
2      4  0.990164  0.271673  0.538792  0.315696  0.088604  0.788763
3      5  0.012846  0.588842  0.393501  0.396884  0.178291  0.170352
4      6  0.287632  0.007834  0.839231  0.014259  0.807669  0.269452
..   ...       ...       ...       ...       ...       ...       ...
245  247  0.472229  0.465019  0.295654  0.186732  0.696792  0.742051
246  248  0.290732  0.303522  0.174832  0.695804  0.010771  0.707775
247  249  0.208259  0.016880  0.886709  0.712003  0.314000  0.386791
248  250  0.151343  0.307096  0.452477  0.354074  0.056164  0.567059
249  251  0.262282  0.076309  0.464775  0.644578  0.139228  0.343091

      Grade 7   Grade 8   Grade 9
0    0.780437  0.476871  0.611141
1    0.382505  0.757946  0.410389
2    0.336035  0.083864  0.685473
3    0.154699  0.894480  0.473509
4    0.459686  0.656501  0.750430
..        ...       ...       ...
245  0.567090  0.162889  0.099656
246  0.738938  0.628441  0.785450
247  0.302667  0.787542  0.641713
248  0.906514  0.737428  0.787865
249  0.023051  0.797111  0.815735

[250 rows x 10 columns]>

# 8. Slicing

In [27]:
dataset1[123:200]

,1,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9
123,125,0.726633,0.551609,0.178018,0.066092,0.719725,0.267194,0.553494,0.415079,0.798463
124,126,0.685888,0.604023,0.485833,0.033387,0.170103,0.181113,0.914568,0.696964,0.850723
125,127,0.459050,0.208980,0.309051,0.825625,0.087390,0.000295,0.481974,0.495636,0.209928
126,128,0.457249,0.891378,0.193534,0.526649,0.839476,0.945190,0.274263,0.957791,0.383234
127,129,0.953522,0.052622,0.906132,0.192520,0.339260,0.239064,0.459648,0.667424,0.745768
...,...,...,...,...,...,...,...,...,...,...
195,197,0.615506,0.095864,0.207567,0.109612,0.222278,0.870405,0.501668,0.929235,0.253730
196,198,0.436839,0.842927,0.669236,0.007627,0.059300,0.471850,0.155491,0.171889,0.365055
197,199,0.226251,0.632287,0.981118,0.324948,0.690616,0.955730,0.519820,0.379215,0.257101
198,200,0.939073,0.554040,0.954661,0.280706,0.079570,0.617054,0.370795,0.016406,0.751076
199,201,0.411711,0.846487,0.043373,0.834419,0.557530,0.841083,0.574635,0.412339,0.980566

# 9. Mean

In [28]:
dataset1.mean()

1          126.500000
Grade 1      0.494252
Grade 2      0.489659
Grade 3      0.503773
Grade 4      0.500687
Grade 5      0.468060
Grade 6      0.493368
Grade 7      0.476942
Grade 8      0.499202
Grade 9      0.489401
dtype: float64

# 10. Median

In [29]:
dataset1.median()

1          126.500000
Grade 1      0.484438
Grade 2      0.484576
Grade 3      0.484685
Grade 4      0.511092
Grade 5      0.445201
Grade 6      0.479421
Grade 7      0.479027
Grade 8      0.501120
Grade 9      0.468541
dtype: float64

# 11. Mode

In [30]:
dataset1.mode()

,1,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9
0,2,0.000425,0.005660,0.023218,0.007627,0.001880,0.000295,0.003265,0.001173,0.024000
1,3,0.004076,0.007834,0.025483,0.009910,0.008409,0.002155,0.008908,0.010725,0.025731
2,4,0.005643,0.013653,0.026147,0.012481,0.009200,0.005989,0.011108,0.011646,0.030427
3,5,0.007381,0.016880,0.037070,0.012733,0.010771,0.007627,0.017473,0.016406,0.030896
4,6,0.012846,0.019942,0.040220,0.014259,0.016201,0.008509,0.019147,0.018573,0.043794
...,...,...,...,...,...,...,...,...,...,...
245,247,0.980665,0.985367,0.992673,0.976993,0.968626,0.989869,0.969313,0.978335,0.980566
246,248,0.981648,0.989451,0.993711,0.988144,0.975956,0.990182,0.969831,0.978651,0.987869
247,249,0.990164,0.996450,0.997027,0.990376,0.985487,0.994907,0.980421,0.989053,0.992480
248,250,0.991726,0.998332,0.997406,0.996927,0.987311,0.997548,0.992587,0.991511,0.994122
249,251,0.994169,0.999591,0.997923,0.997364,0.987836,0.999820,0.998902,0.996264,0.999086

# 12. Transpose

In [31]:
dataset1.T

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
1,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,11.000000,...,242.000000,243.000000,244.000000,245.000000,246.000000,247.000000,248.000000,249.000000,250.000000,251.000000
Grade 1,0.489005,0.828603,0.990164,0.012846,0.287632,0.816397,0.621965,0.000425,0.108886,0.109106,...,0.524786,0.568553,0.943236,0.334092,0.468248,0.472229,0.290732,0.208259,0.151343,0.262282
Grade 2,0.248247,0.364154,0.271673,0.588842,0.007834,0.892042,0.996450,0.641134,0.635218,0.039767,...,0.450952,0.478625,0.717480,0.263977,0.518254,0.465019,0.303522,0.016880,0.307096,0.076309
Grade 3,0.098675,0.627963,0.538792,0.393501,0.839231,0.950599,0.874535,0.092083,0.639928,0.665862,...,0.145890,0.350100,0.197132,0.714993,0.376752,0.295654,0.174832,0.886709,0.452477,0.464775
Grade 4,0.627897,0.892696,0.315696,0.396884,0.014259,0.377022,0.079879,0.913880,0.446564,0.688554,...,0.221422,0.484285,0.501499,0.468626,0.706640,0.186732,0.695804,0.712003,0.354074,0.644578
Grade 5,0.043393,0.047049,0.088604,0.178291,0.807669,0.728596,0.552022,0.093682,0.844413,0.775136,...,0.105840,0.411368,0.800941,0.295818,0.770734,0.696792,0.010771,0.314000,0.056164,0.139228
Grade 6,0.850521,0.851582,0.788763,0.170352,0.269452,0.390418,0.989869,0.521778,0.707898,0.941665,...,0.659838,0.865371,0.451592,0.864708,0.546066,0.742051,0.707775,0.386791,0.567059,0.343091
Grade 7,0.780437,0.382505,0.336035,0.154699,0.459686,0.685617,0.046129,0.649614,0.614128,0.885173,...,0.839445,0.325719,0.117734,0.831780,0.260566,0.567090,0.738938,0.302667,0.906514,0.023051
Grade 8,0.476871,0.757946,0.083864,0.894480,0.656501,0.185812,0.322001,0.889452,0.695400,0.895832,...,0.360945,0.686371,0.297176,0.485446,0.674065,0.162889,0.628441,0.787542,0.737428,0.797111
Grade 9,0.611141,0.410389,0.685473,0.473509,0.750430,0.832257,0.744482,0.242583,0.179227,0.736921,...,0.307751,0.876215,0.682767,0.185844,0.709068,0.099656,0.785450,0.641713,0.787865,0.815735

# 13. Sorting

In [39]:
dataset1.sort_values(by="Grade 5")

,1,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9
172,174,0.701948,0.071026,0.375368,0.996927,0.001880,0.245174,0.854503,0.745076,0.125008
78,80,0.579952,0.197088,0.311410,0.820291,0.008409,0.760565,0.580411,0.150387,0.175917
54,56,0.557458,0.741639,0.339496,0.378666,0.009200,0.044483,0.363705,0.742373,0.052288
246,248,0.290732,0.303522,0.174832,0.695804,0.010771,0.707775,0.738938,0.628441,0.785450
218,220,0.374845,0.179331,0.198769,0.170356,0.016201,0.225107,0.806692,0.505159,0.753835
...,...,...,...,...,...,...,...,...,...,...
184,186,0.322977,0.519162,0.200834,0.684800,0.968626,0.018967,0.822463,0.973260,0.697853
120,122,0.858332,0.385727,0.438026,0.012481,0.975956,0.871449,0.450696,0.642723,0.722878
180,182,0.621746,0.397877,0.723295,0.909734,0.985487,0.292971,0.072360,0.627876,0.739084
227,229,0.972906,0.473392,0.301879,0.839812,0.987311,0.400108,0.584732,0.717588,0.051499
202,204,0.479180,0.609041,0.844336,0.230689,0.987836,0.796228,0.044253,0.996264,0.670623

# 14. Sort Index

In [ ]:
dataset1.sort_index()