## ***Assignment 1***
By Muhammad Hassan Zahoor

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
Data_set = pd.read_csv("Housing.csv")
print(Data_set)

        price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

[545 rows x 13 columns]

In [5]:
median =Data_set['price'].median()
median

np.float64(4340000.0)

In [8]:
filtered_houses = Data_set[(Data_set['price'] > median) & 
                           (Data_set['bedrooms'] > 2) & 
                           (Data_set['area'] > 2000)]

print(filtered_houses)

        price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
265   4403000  2880         3          1        2      yes        no       no
266   4403000  4880         3          1        1      yes        no       no
267   4403000  4920         3          1        2      yes        no       no
268   4382000  4950         4          1        2      yes        no       no
269   4375000  3900         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
265              no              no        0      yes   semi-furnished
266              no              no        2      yes      unfurnished
267              no              no        1       no   semi-furnished
268              no             yes        0       no   semi-furnished
269              no              no        0       no      unfurnished

[243 rows x 13 columns]

In [9]:

result = Data_set.groupby('bedrooms').agg(average_price=('price', 'mean'),
                                          median_area=('area', 'median'))

print(result)

          average_price  median_area
bedrooms
1          2.712500e+06       3710.0
2          3.632022e+06       4036.0
3          4.954598e+06       4830.0
4          5.729758e+06       5400.0
5          5.819800e+06       5350.0
6          4.791500e+06       3950.0

In [19]:
sorted = Data_set.sort_values(by='price',ascending=False).reset_index(drop=True)
top_5_percent_count = int(0.05 * len(sorted))
print(top_5_percent_count)

27

In [25]:
selected_columns = Data_set[['price', 'area', 'bedrooms']]

correlation_matrix = selected_columns.corr()

print(correlation_matrix)

             price      area  bedrooms
price     1.000000  0.535997  0.366494
area      0.535997  1.000000  0.151858
bedrooms  0.366494  0.151858  1.000000

In [26]:
selected = Data_set[['price', 'area', 'bedrooms','parking']]
func = selected.describe()
print(func)

              price          area    bedrooms     parking
count  5.450000e+02    545.000000  545.000000  545.000000
mean   4.766729e+06   5150.541284    2.965138    0.693578
std    1.870440e+06   2170.141023    0.738064    0.861586
min    1.750000e+06   1650.000000    1.000000    0.000000
25%    3.430000e+06   3600.000000    2.000000    0.000000
50%    4.340000e+06   4600.000000    3.000000    0.000000
75%    5.740000e+06   6360.000000    3.000000    1.000000
max    1.330000e+07  16200.000000    6.000000    3.000000

In [29]:



Data_set['price_per_sqft'] = Data_set['price'] / Data_set['area']


bins = [0, Data_set['price_per_sqft'].quantile(0.33), Data_set['price_per_sqft'].quantile(0.67), Data_set['price_per_sqft'].max()]
labels = ['Low', 'Medium', 'High']
Data_set['price_category'] = pd.cut(Data_set['price_per_sqft'], bins=bins, labels=labels, include_lowest=True)

print(Data_set[['price', 'area', 'price_per_sqft', 'price_category']])

        price  area  price_per_sqft price_category
0    13300000  7420     1792.452830           High
1    12250000  8960     1367.187500           High
2    12250000  9960     1229.919679           High
3    12215000  7500     1628.666667           High
4    11410000  7420     1537.735849           High
..        ...   ...             ...            ...
540   1820000  3000      606.666667            Low
541   1767150  2400      736.312500            Low
542   1750000  3620      483.425414            Low
543   1750000  2910      601.374570            Low
544   1750000  3850      454.545455            Low

[545 rows x 4 columns]

In [31]:
Data_set['price'].fillna(Data_set['price'].mean(), inplace=True)

C:\Users\MSS\AppData\Local\Temp\ipykernel_1240\3719548074.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Data_set['price'].fillna(Data_set['price'].mean(), inplace=True)

## ***Question Number 2***

In [33]:
# Generate synthetic data
np.random.seed(42)
num_students = 100

data = {
    'Student_ID': range(1, num_students + 1),
    'Math_Grade': np.random.randint(50, 101, num_students),
    'Science_Grade': np.random.randint(50, 101, num_students),
    'English_Grade': np.random.randint(50, 101, num_students),
    'Attendance': np.random.uniform(70, 100, num_students),
    'Extracurricular_Activity': np.random.choice(['Sports', 'Music', 'Art', 'None'], num_students)
}

students_df = pd.DataFrame(data)
students_df['Average_Grade'] = students_df[['Math_Grade', 'Science_Grade', 'English_Grade']].mean(axis=1)

print(students_df)

    Student_ID  Math_Grade  Science_Grade  English_Grade  Attendance  \
0            1          88             74             86   96.612593
1            2          78             56             82   93.396266
2            3          64             58            100   89.260949
3            4          92             73             91   72.524199
4            5          57             50             93   74.848861
..         ...         ...            ...            ...         ...
95          96          90             88             68   80.805719
96          97          78             55             97   73.811815
97          98          64             57             65   85.667298
98          99          94             76             52   93.099807
99         100          50             58             69   76.474631

   Extracurricular_Activity  Average_Grade
0                    Sports      82.666667
1                       Art      72.000000
2                      None      74.000000
3                     Music      85.333333
4                    Sports      66.666667
..                      ...            ...
95                    Music      82.000000
96                   Sports      76.666667
97                     None      62.000000
98                    Music      74.000000
99                     None      59.000000

[100 rows x 7 columns]

In [40]:

filtered_students = students_df[(students_df['Average_Grade'] > 85) & (students_df['Attendance'] >= 90)]

failing_students = students_df[(students_df[['Math_Grade', 'Science_Grade', 'English_Grade']] < 60).any(axis=1) & (students_df['Extracurricular_Activity'] != 'None')]

print(filtered_students)

print(failing_students)

    Student_ID  Math_Grade  Science_Grade  English_Grade  Attendance  \
19          20          93             77             98   92.394742
32          33          77             89             93   93.844339
74          75          93             77             99   96.012170

   Extracurricular_Activity  Average_Grade Pass_Fail
19                      Art      89.333333      Pass
32                      Art      86.333333      Pass
74                   Sports      89.666667      Pass
    Student_ID  Math_Grade  Science_Grade  English_Grade  Attendance  \
1            2          78             56             82   93.396266
4            5          57             50             93   74.848861
15          16          52             54             51   76.728079
17          18          51             88             98   77.117473
20          21          79             56             66   89.488987
22          23          51             57             51   89.728387
23          24          70             61             51   87.049258
29          30          98             86             50   81.792932
31          32          91             93             51   88.934159
36          37         100             50             81   75.857290
37          38          93             84             53   91.673563
38          39          52             86             60   78.423171
41          42          56             52             73   75.313320
42          43          70             50             54   98.213758
44          45          88             75             55   97.445932
50          51          58             64             58   98.908599
51          52          75             75             55   95.590284
54          55          77            100             52   95.534100
56          57          56             88             85   75.084782
58          59          57             81             75   98.084643
59          60          96             53             52   90.880894
63          64          85             88             56   99.701616
66          67          53             92             89   96.321192
67          68          51             78             88   92.223059
68          69          55             85             67   90.910472
70          71          53             81             50   80.784735
75          76          83             51             72   97.397217
76          77          59             91             80   85.340272
82          83          57             93             75   96.700160
85          86          89             60             51   72.819458
86          87          70             77             50   87.348404
89          90          67             82             54   86.279339
90          91          96             50             86   78.596238
92          93          75             62             58   70.915007
94          95          94             52             84   94.678017
96          97          78             55             97   73.811815
98          99          94             76             52   93.099807

   Extracurricular_Activity  Average_Grade Pass_Fail
1                       Art      72.000000      Pass
4                    Sports      66.666667      Pass
15                    Music      52.333333      Fail
17                    Music      79.000000      Pass
20                   Sports      67.000000      Pass
22                      Art      53.000000      Fail
23                      Art      60.666667      Pass
29                    Music      78.000000      Pass
31                    Music      78.333333      Pass
36                   Sports      77.000000      Pass
37                   Sports      76.666667      Pass
38                    Music      66.000000      Pass
41                      Art      60.333333      Pass
42                    Music      58.000000      Fail
44                    Music      72.666667      Pass
50                   Sports      60.000000      Pass
51                   Sports      68.333333      Pass
54                      Art      76.333333      Pass
56                      Art      76.333333      Pass
58                    Music      71.000000      Pass
59                   Sports      67.000000      Pass
63                    Music      76.333333      Pass
66                   Sports      78.000000      Pass
67                    Music      72.333333      Pass
68                   Sports      69.000000      Pass
70                    Music      61.333333      Pass
75                    Music      68.666667      Pass
76                    Music      76.666667      Pass
82                    Music      75.000000      Pass
85                   Sports      66.666667      Pass
86                      Art      65.666667      Pass
89                    Music      67.666667      Pass
90                    Music      77.333333      Pass
92                      Art      65.000000      Pass
94                    Music      76.666667      Pass
96                   Sports      76.666667      Pass
98                    Music      74.000000      Pass

In [36]:
# Group by extracurricular activity to get average grades
grouped_activity = students_df.groupby('Extracurricular_Activity').agg(
    Average_Grade=('Average_Grade', 'mean'),
    Total_Attendance=('Attendance', 'sum')
).reset_index()

# Find the activity with the highest average grade
highest_avg_activity = grouped_activity.loc[grouped_activity['Average_Grade'].idxmax()]

print(highest_avg_activity)

Extracurricular_Activity       Sports
Average_Grade               76.135802
Total_Attendance            2417.5714
Name: 3, dtype: object

In [42]:

income_data = {
    'Student_ID': range(1, num_students + 1),
    'Parent_Income_Level': np.random.choice(['Low', 'Medium', 'High'], num_students)
}
income_df = pd.DataFrame(income_data)
merged_df = pd.merge(students_df, income_df, on='Student_ID')


income_analysis = merged_df.groupby('Parent_Income_Level')['Average_Grade'].mean().reset_index()
print(income_analysis)

  Parent_Income_Level  Average_Grade
0                High      73.022222
1                 Low      73.756098
2              Medium      77.091954

In [37]:
# Create a pass/fail column
students_df['Pass_Fail'] = students_df['Average_Grade'].apply(lambda x: 'Pass' if x >= 60 else 'Fail')

# Count passes and fails
pass_fail_counts = students_df['Pass_Fail'].value_counts()
print(pass_fail_counts)

Pass_Fail
Pass    96
Fail     4
Name: count, dtype: int64

In [43]:

merged_df['Grade_Quartile'] = pd.qcut(merged_df['Average_Grade'], 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

quartile_analysis = merged_df.groupby('Grade_Quartile').agg(
    Average_Attendance=('Attendance', 'mean'),
    Average_Grade=('Average_Grade', 'mean')
).reset_index()

for quartile in merged_df['Grade_Quartile'].unique():
    subset = merged_df[merged_df['Grade_Quartile'] == quartile]
    correlation = subset[['Average_Grade', 'Attendance']].corr().iloc[0, 1]
    print(f"Correlation in {quartile}: {correlation:.2f}")

Correlation in Q4: -0.13
Correlation in Q2: 0.12
Correlation in Q1: 0.00
Correlation in Q3: -0.11

C:\Users\MSS\AppData\Local\Temp\ipykernel_1240\4288005175.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  quartile_analysis = merged_df.groupby('Grade_Quartile').agg(

## ***Question 4***

In [44]:
import pandas as pd


suspects_data = {
    'Suspect_ID': range(1, 11),
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'Suspicion_Level': [1, 4, 2, 5, 3, 6, 4, 2, 1, 3]
}

suspects_df = pd.DataFrame(suspects_data)

evidence_data = {
    'Evidence_ID': range(1, 6),
    'Description': ['Fingerprint', 'Murder Weapon', 'Witness Testimony', 'DNA Sample', 'Surveillance Video'],
    'Suspect_ID': [1, 2, 2, 5, 3]  
}

evidence_df = pd.DataFrame(evidence_data)
print(evidence_data)

{'Evidence_ID': range(1, 6), 'Description': ['Fingerprint', 'Murder Weapon', 'Witness Testimony', 'DNA Sample', 'Surveillance Video'], 'Suspect_ID': [1, 2, 2, 5, 3]}

In [45]:
# Identify suspects with a suspicion level above 3
high_suspects = suspects_df[suspects_df['Suspicion_Level'] > 3]

print("\nSuspects with a suspicion level above 3:")
print(high_suspects)
# Merge suspects and evidence DataFrames
merged_df = pd.merge(suspects_df, evidence_df, on='Suspect_ID', how='left')

print("\nMerged Suspects and Evidence DataFrame:")
print(merged_df)

Suspects with a suspicion level above 3:
   Suspect_ID   Name  Suspicion_Level
1           2    Bob                4
3           4  David                5
5           6  Frank                6
6           7  Grace                4

Merged Suspects and Evidence DataFrame:
    Suspect_ID     Name  Suspicion_Level  Evidence_ID         Description
0            1    Alice                1          1.0         Fingerprint
1            2      Bob                4          2.0       Murder Weapon
2            2      Bob                4          3.0   Witness Testimony
3            3  Charlie                2          5.0  Surveillance Video
4            4    David                5          NaN                 NaN
5            5      Eve                3          4.0          DNA Sample
6            6    Frank                6          NaN                 NaN
7            7    Grace                4          NaN                 NaN
8            8   Hannah                2          NaN                 NaN
9            9      Ian                1          NaN                 NaN
10          10     Jack                3          NaN                 NaN

In [46]:

suspicion_group_count = suspects_df.groupby('Suspicion_Level').size().reset_index(name='Count')

print("\nCount of Suspects by Suspicion Level:")
print(suspicion_group_count)

Count of Suspects by Suspicion Level:
   Suspicion_Level  Count
0                1      2
1                2      2
2                3      2
3                4      2
4                5      1
5                6      1

In [ ]:

average_suspicion = suspects_df['Suspicion_Level'].mean()

print("\nAverage Suspicion Level among Suspects:")
print(average_suspicion)