In [60]:
print("hello world")

hello world

In [61]:
print("hello world")

hello world

In [62]:
int a=5

SyntaxError: invalid syntax (2096220121.py, line 1)

In [ ]:
a=5
b=7
print(a+b)

12

In [ ]:
a=5
b=7
print("a"+"b")

ab

In [ ]:
a=5
type(a)

int

In [ ]:
print("a\nb\nc\nd")

a
b
c
d

In [ ]:
print(12,"something",111.0,sep="-")

12-something-111.0

In [ ]:
print("this is somethin")
print("something something")

this is somethin
something something

In [ ]:
a=2
print("a*1=",a*1)

a*1= 2

In [ ]:
a=2
print(a+1)

3

In [ ]:
a=3
b=4
c=a
a=b
b=c
print(a,b)

4 3

In [ ]:
print("Mathematical Units")
a=4
b=5
print("Addition", a+b)
print("Subtraction",a-b)
print(a/b, a+b, a-b, sep="-")
print(a*b)

Mathematical Units
Addition 9
Subtraction -1
0.8-9--1
20

In [ ]:
a=2       #initial value
b=5
a+b==c
print(c)

3

In [ ]:
print("my name is maria \n hashmi \n\t and i am  doing progrmming \f computer science")

my name is maria
 hashmi
	 and i am  doing progrmming  computer science

In [ ]:
a=2
b=2+a
print(b)
str=computer
type("c")

4

NameError: name 'computer' is not defined

In [ ]:
a=2
b=5
print("Addition: a+b=", a+b)
print("subtraction: a-b=", a-b)
print("division: a/b=", a/b)
print("multiplication: a*b=", a*b)
print("\n\n\n adition", a+b, "\n subtraction", a-b, "\n divsion", a/b, "\n multiplication", a*b)

Addition: a+b= 7
subtraction: a-b= -3
division: a/b= 0.4
multiplication: a*b= 10



 adition 7
 subtraction -3
 divsion 0.4
 multiplication 10

In [ ]:
print("a=0 and b=0")
a=0
b=0
a +=1
b-=1
print("increment value",a, "\ndecrement value",b)

a=0 and b=0
increment value 1
decrement value -1

In [ ]:
a=1
a+=1
print(a)

2

In [66]:
a=2
b=5
print("a=2 \t b=5")
a-=1
b+=1
print(a,"\t", b)

a=2 	 b=5
1 	 6

In [70]:
num=[1,2,3,4]
type(num)

list

In [74]:
name="ayesha"
type(name)

str

In [75]:
>>> year2='Sophomore'
>>> year2

'Sophomore'

In [76]:
>>> a=5
>>> b=4
>>> print("a+b=",a+b)

a+b= 9

In [84]:
num = 42         # Inferred as int
pi = 3.14159     # Inferred as float
greeting = "Hi"  # Inferred as str

In [85]:
input=a
print(a)

2

In [91]:
name="maria"
age=25-2
price=22.99
type(name)
print(name, age, price)
print("my name is", name, "\nmy age is", age)
print(type(age))

maria 23 22.99
my name is maria
my age is 23
<class 'int'>

In [92]:
print('maria')
print("maria")
print('''maria''')

maria
maria
maria

In [95]:
age = 25
old = False
a = None

print(type(a))
print(type(old))

<class 'NoneType'>
<class 'bool'>

In [99]:
a=5
b=4
sum=a+b
print("addition", sum)
#print("difference", a-b)

addition 9

In [100]:
a=2
b=3
print("sum", a+b)
print("difference", a-b)
print("Multiply", a*b)
print("divide", a/b)
print("remainder", a%b) #remainder
print("a to the power of b", a**b)

sum 5
difference -1
Multiply 6
divide 0.6666666666666666
remainder 2
a to the power of b 8

In [107]:
a=3
b=5
print(a==b)
print(a!=b)

print(a<=b)
print(a<b)

print(a>=b)
print(a>b)

False
True
True
True
False
False

In [117]:
num =2
#num=num+2
#num+=2
#num-=2
num**=2
#num/=2
print(num, type(num))

4 <class 'int'>

In [119]:
val1=True
val2=True
print("and operator", val1 and val2)

and operator True

In [120]:
a=2
b=3
print(not False)
print(not (a>b))

True
True

In [124]:
#OR Operatore
a=True
b=False
print((a==b) or (a>b))

True

In [133]:
str1='this is string'
print(str1)
type(str1)
str2='maria"s assignment'
str3="maria's assignment"
print(str3)

this is string
maria's assignment

In [139]:
str1="Maria"
str2="Hashmi"
str3=str1+""+str2
print(str3)
print(len(str3))

MariaHashmi
11

In [147]:
str="maria hashmi"
ch = str[0]
print(ch)
print(str[0:5])

m
maria

In [151]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [2]:
a=200
b=33
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [4]:
a=20
b=22
if a>b:
    print ("b is greater tha b")
else:
    print("not")

not

In [10]:
print(bool(0))
print(bool(15))

False
True

In [11]:
x="hello"
y=15
print(bool(x))
print(bool(y))

True
True