In [6]:
%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dit\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dit\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

Import libraries

In [7]:
import numpy as np

import pandas as pd

Creating a Series by passing a list of values

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range("20240101", periods=8)

In [12]:
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df = pd.DataFrame(np.random.randn(8, 10), index=dates, columns=list("ABCDEFGHIJ"))

In [15]:
df

,A,B,C,D,E,F,G,H,I,J
2024-01-01,0.901133,0.478625,-0.399064,-1.265676,0.596738,0.835103,0.442426,-0.670303,-0.056315,-0.738632
2024-01-02,-0.273443,0.133661,-0.159978,-0.608593,-0.416526,0.346481,0.156943,1.276760,0.550652,0.955308
2024-01-03,0.075440,-0.018941,1.410069,0.495883,-0.450866,-1.266060,-1.671012,-1.225316,1.017667,0.450490
2024-01-04,-0.402712,2.162419,0.875208,-0.235728,-2.438394,0.918895,-1.398741,-0.274868,-1.102631,0.634974
2024-01-05,0.595980,0.723192,0.033509,1.630002,1.481218,-0.094397,-0.480663,-0.319823,-1.045349,-1.537776
2024-01-06,0.865933,-0.082955,-0.600749,-1.018427,-0.447636,0.052730,-0.736983,0.354668,-1.139850,1.496898
2024-01-07,2.251959,-1.840539,0.228161,-0.181767,-0.193769,-1.580630,-1.609770,1.250704,0.528935,0.765122
2024-01-08,1.037791,1.459811,-0.177538,-0.318360,-0.799938,-0.985670,-1.069684,1.245047,-0.659682,-0.667998

In [27]:
df2 = pd.DataFrame(
    {
        "A": 2.0,
        "B": pd.Timestamp("20240502"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([15] * 4, dtype="int32"),
        "E": pd.Categorical(["Islamabad", "Rawalpindi", "Lahore", "Karachi"]),
        "F": "foo",
    }
)

In [28]:
df2

     A          B    C   D           E    F
0  2.0 2024-05-02  1.0  15   Islamabad  foo
1  2.0 2024-05-02  1.0  15  Rawalpindi  foo
2  2.0 2024-05-02  1.0  15      Lahore  foo
3  2.0 2024-05-02  1.0  15     Karachi  foo

In [29]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [30]:
df.head()

,A,B,C,D,E,F,G,H,I,J
2024-01-01,0.901133,0.478625,-0.399064,-1.265676,0.596738,0.835103,0.442426,-0.670303,-0.056315,-0.738632
2024-01-02,-0.273443,0.133661,-0.159978,-0.608593,-0.416526,0.346481,0.156943,1.276760,0.550652,0.955308
2024-01-03,0.075440,-0.018941,1.410069,0.495883,-0.450866,-1.266060,-1.671012,-1.225316,1.017667,0.450490
2024-01-04,-0.402712,2.162419,0.875208,-0.235728,-2.438394,0.918895,-1.398741,-0.274868,-1.102631,0.634974
2024-01-05,0.595980,0.723192,0.033509,1.630002,1.481218,-0.094397,-0.480663,-0.319823,-1.045349,-1.537776

In [31]:
df.head(3)

,A,B,C,D,E,F,G,H,I,J
2024-01-01,0.901133,0.478625,-0.399064,-1.265676,0.596738,0.835103,0.442426,-0.670303,-0.056315,-0.738632
2024-01-02,-0.273443,0.133661,-0.159978,-0.608593,-0.416526,0.346481,0.156943,1.276760,0.550652,0.955308
2024-01-03,0.075440,-0.018941,1.410069,0.495883,-0.450866,-1.266060,-1.671012,-1.225316,1.017667,0.450490

In [32]:
df.tail(2)

,A,B,C,D,E,F,G,H,I,J
2024-01-07,2.251959,-1.840539,0.228161,-0.181767,-0.193769,-1.58063,-1.609770,1.250704,0.528935,0.765122
2024-01-08,1.037791,1.459811,-0.177538,-0.318360,-0.799938,-0.98567,-1.069684,1.245047,-0.659682,-0.667998

In [33]:
df.index

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08'],
              dtype='datetime64[ns]', freq='D')

In [34]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [35]:
df.describe()

,A,B,C,D,E,F,G,H,I,J
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,0.631510,0.376909,0.151202,-0.187833,-0.333647,-0.221693,-0.795935,0.204609,-0.238322,0.169798
std,0.855036,1.185351,0.676317,0.911830,1.125034,0.952678,0.793796,0.975700,0.862754,1.033079
min,-0.402712,-1.840539,-0.600749,-1.265676,-2.438394,-1.580630,-1.671012,-1.225316,-1.139850,-1.537776
25%,-0.011781,-0.034945,-0.232920,-0.711051,-0.538134,-1.055767,-1.451498,-0.407443,-1.059670,-0.685656
50%,0.730956,0.306143,-0.063234,-0.277044,-0.432081,-0.020833,-0.903333,0.039900,-0.357998,0.542732
75%,0.935298,0.907347,0.389923,-0.012355,0.003857,0.468637,-0.321262,1.246461,0.534364,0.812669
max,2.251959,2.162419,1.410069,1.630002,1.481218,0.918895,0.442426,1.276760,1.017667,1.496898

In [37]:
df.T

,2024-01-01,2024-01-02,2024-01-03,2024-01-04,2024-01-05,2024-01-06,2024-01-07,2024-01-08
A,0.901133,-0.273443,0.075440,-0.402712,0.595980,0.865933,2.251959,1.037791
B,0.478625,0.133661,-0.018941,2.162419,0.723192,-0.082955,-1.840539,1.459811
C,-0.399064,-0.159978,1.410069,0.875208,0.033509,-0.600749,0.228161,-0.177538
D,-1.265676,-0.608593,0.495883,-0.235728,1.630002,-1.018427,-0.181767,-0.318360
E,0.596738,-0.416526,-0.450866,-2.438394,1.481218,-0.447636,-0.193769,-0.799938
F,0.835103,0.346481,-1.266060,0.918895,-0.094397,0.052730,-1.580630,-0.985670
G,0.442426,0.156943,-1.671012,-1.398741,-0.480663,-0.736983,-1.609770,-1.069684
H,-0.670303,1.276760,-1.225316,-0.274868,-0.319823,0.354668,1.250704,1.245047
I,-0.056315,0.550652,1.017667,-1.102631,-1.045349,-1.139850,0.528935,-0.659682
J,-0.738632,0.955308,0.450490,0.634974,-1.537776,1.496898,0.765122,-0.667998

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2024-01-01 to 2024-01-08
Freq: D
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       8 non-null      float64
 1   B       8 non-null      float64
 2   C       8 non-null      float64
 3   D       8 non-null      float64
 4   E       8 non-null      float64
 5   F       8 non-null      float64
 6   G       8 non-null      float64
 7   H       8 non-null      float64
 8   I       8 non-null      float64
 9   J       8 non-null      float64
dtypes: float64(10)
memory usage: 704.0 bytes

In [39]:
df.mean

<bound method DataFrame.mean of                    A         B         C         D         E         F  \
2024-01-01  0.901133  0.478625 -0.399064 -1.265676  0.596738  0.835103
2024-01-02 -0.273443  0.133661 -0.159978 -0.608593 -0.416526  0.346481
2024-01-03  0.075440 -0.018941  1.410069  0.495883 -0.450866 -1.266060
2024-01-04 -0.402712  2.162419  0.875208 -0.235728 -2.438394  0.918895
2024-01-05  0.595980  0.723192  0.033509  1.630002  1.481218 -0.094397
2024-01-06  0.865933 -0.082955 -0.600749 -1.018427 -0.447636  0.052730
2024-01-07  2.251959 -1.840539  0.228161 -0.181767 -0.193769 -1.580630
2024-01-08  1.037791  1.459811 -0.177538 -0.318360 -0.799938 -0.985670

                   G         H         I         J
2024-01-01  0.442426 -0.670303 -0.056315 -0.738632
2024-01-02  0.156943  1.276760  0.550652  0.955308
2024-01-03 -1.671012 -1.225316  1.017667  0.450490
2024-01-04 -1.398741 -0.274868 -1.102631  0.634974
2024-01-05 -0.480663 -0.319823 -1.045349 -1.537776
2024-01-06 -0.736983  0.354668 -1.139850  1.496898
2024-01-07 -1.609770  1.250704  0.528935  0.765122
2024-01-08 -1.069684  1.245047 -0.659682 -0.667998  >

In [40]:
df.median

<bound method DataFrame.median of                    A         B         C         D         E         F  \
2024-01-01  0.901133  0.478625 -0.399064 -1.265676  0.596738  0.835103
2024-01-02 -0.273443  0.133661 -0.159978 -0.608593 -0.416526  0.346481
2024-01-03  0.075440 -0.018941  1.410069  0.495883 -0.450866 -1.266060
2024-01-04 -0.402712  2.162419  0.875208 -0.235728 -2.438394  0.918895
2024-01-05  0.595980  0.723192  0.033509  1.630002  1.481218 -0.094397
2024-01-06  0.865933 -0.082955 -0.600749 -1.018427 -0.447636  0.052730
2024-01-07  2.251959 -1.840539  0.228161 -0.181767 -0.193769 -1.580630
2024-01-08  1.037791  1.459811 -0.177538 -0.318360 -0.799938 -0.985670

                   G         H         I         J
2024-01-01  0.442426 -0.670303 -0.056315 -0.738632
2024-01-02  0.156943  1.276760  0.550652  0.955308
2024-01-03 -1.671012 -1.225316  1.017667  0.450490
2024-01-04 -1.398741 -0.274868 -1.102631  0.634974
2024-01-05 -0.480663 -0.319823 -1.045349 -1.537776
2024-01-06 -0.736983  0.354668 -1.139850  1.496898
2024-01-07 -1.609770  1.250704  0.528935  0.765122
2024-01-08 -1.069684  1.245047 -0.659682 -0.667998  >

In [56]:
df[1:4]

,A,B,C,D,E,F,G,H,I,J
2024-01-02,-0.273443,0.133661,-0.159978,-0.608593,-0.416526,0.346481,0.156943,1.276760,0.550652,0.955308
2024-01-03,0.075440,-0.018941,1.410069,0.495883,-0.450866,-1.266060,-1.671012,-1.225316,1.017667,0.450490
2024-01-04,-0.402712,2.162419,0.875208,-0.235728,-2.438394,0.918895,-1.398741,-0.274868,-1.102631,0.634974