In [4]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dit\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dit\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [5]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
# 1. DataFrame
df = pd.read_excel("Dataset.xlsx")
df

        Name  Salary Department
0       Aqsa   56788         IT
1      Laiba   56788    Physics
2     Maryam   67899  Chemistry
3     Ayesha   80000         CS
4    Rimsha    67788     Botony
..       ...     ...        ...
194     Remi   33345    Physics
195  Charlie   46678         AI
196  Adalynn   45567         ML
197   Ashley   45677    Physics
198  Georgia   46778  Chemistry

[199 rows x 3 columns]

In [7]:
df1 = pd.DataFrame(df)
print ("Original DataFrame")
print(df)

Original DataFrame
        Name  Salary Department
0       Aqsa   56788         IT
1      Laiba   56788    Physics
2     Maryam   67899  Chemistry
3     Ayesha   80000         CS
4    Rimsha    67788     Botony
..       ...     ...        ...
194     Remi   33345    Physics
195  Charlie   46678         AI
196  Adalynn   45567         ML
197   Ashley   45677    Physics
198  Georgia   46778  Chemistry

[199 rows x 3 columns]

In [8]:
# 2. Basic Dataframe Info:
print("\n DataFrame Info:")
print(df.info())
print("\n Statistics Summary:")
print(df.describe())

 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        199 non-null    object
 1   Salary      199 non-null    int64
 2   Department  199 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.8+ KB
None

 Statistics Summary:
              Salary
count     199.000000
mean    63546.663317
std     61503.623245
min     26788.000000
25%     45677.000000
50%     58062.000000
75%     67899.000000
max    789766.000000

In [9]:
# 3. Sorting:
sorted_df = df.sort_values(by = 'Salary')
print("\n Dataframe sorted by Salary:")
print(sorted_df)

 Dataframe sorted by Salary:
          Name  Salary Department
106     Eloise   26788    Zoology
15      Amelia   27908  Chemistry
50     Delilah   27908    Physics
8      Mahnoor   27908         DL
55      Oakley   27908  Chemistry
..         ...     ...        ...
188      Lilah   88888         IT
148     Aubrey   88888    Physics
129  Katherine   88888  Chemistry
111      Alana  456779         DL
107       Myla  789766         AI

[199 rows x 3 columns]

In [10]:
# 4. Filtering Data (e.g; Salary > 60000)
filtered_df = df[df['Salary']>60000]
print("\n Filtered DataFrame(Salary > 60000):")
print(filtered_df)

 Filtered DataFrame(Salary > 60000):
        Name  Salary Department
2     Maryam   67899  Chemistry
3     Ayesha   80000         CS
4    Rimsha    67788     Botony
5      Maria   68888    Zoology
10    Olivia   88888  Chemistry
..       ...     ...        ...
179    Rylee   67899    Physics
182   Aliyah   67899         ML
185    Alaia   66777  Chemistry
188    Lilah   88888         IT
191    Amara   67899         CS

[70 rows x 3 columns]

In [11]:
# 5. Adding a new column ( bonus as 10% of Saray)
df['Bonus'] = df ['Salary'] * 0.5
print("\n Dataframe wih Bonus column added:")
print(df)

 Dataframe wih Bonus column added:
        Name  Salary Department    Bonus
0       Aqsa   56788         IT  28394.0
1      Laiba   56788    Physics  28394.0
2     Maryam   67899  Chemistry  33949.5
3     Ayesha   80000         CS  40000.0
4    Rimsha    67788     Botony  33894.0
..       ...     ...        ...      ...
194     Remi   33345    Physics  16672.5
195  Charlie   46678         AI  23339.0
196  Adalynn   45567         ML  22783.5
197   Ashley   45677    Physics  22838.5
198  Georgia   46778  Chemistry  23389.0

[199 rows x 4 columns]

In [12]:
# 6. Grouping Data by Department and Calculating the Average Salary
grouped_df = df.groupby('Department')['Salary'].mean().reset_index()
print(grouped_df)

  Department         Salary
0         AI  109488.750000
1     Botony   59798.833333
2         CS   62114.200000
3  Chemistry   58914.142857
4         DL   67401.962963
5         IT   54489.461538
6         ML   59614.628571
7    Physics   55602.487805
8    Zoology   58386.750000