## Title  :- Pandas Practice
### Name  :- Owais Ur Rehman
### Email :- owaisurrehmands@gmail.com

In [1]:
# import the useful Libraries
import pandas as pd
import numpy as np

In [2]:
# Make a series in pandas
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
type(s)

pandas.core.series.Series

In [4]:
# Create dataframe by by passing a NumPy array with a datetime index using date_range() and labeled columns
dates = pd.date_range("20240101", periods=10)
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# Creating a dataframe which will be in the shape of rows and column
df = pd.DataFrame(np.random.randn(10, 3), index=dates, columns=list("XYZ"))
df

                   X         Y         Z
2024-01-01  0.302249 -3.038886  0.245673
2024-01-02 -0.034448 -0.307536 -0.609117
2024-01-03  0.277523  0.002704  0.776529
2024-01-04  2.557887 -1.224849  3.183347
2024-01-05 -1.407618 -0.456414  0.678825
2024-01-06 -0.516628 -0.709660 -2.040024
2024-01-07  2.257846  1.773087  0.894862
2024-01-08  0.994333 -1.588774  0.483725
2024-01-09  1.627018  1.839313 -0.250640
2024-01-10 -0.226410 -2.189792  0.142163

In [7]:
df.head()

                   X         Y         Z
2024-01-01  0.302249 -3.038886  0.245673
2024-01-02 -0.034448 -0.307536 -0.609117
2024-01-03  0.277523  0.002704  0.776529
2024-01-04  2.557887 -1.224849  3.183347
2024-01-05 -1.407618 -0.456414  0.678825

In [8]:
df.tail()

                   X         Y         Z
2024-01-06 -0.516628 -0.709660 -2.040024
2024-01-07  2.257846  1.773087  0.894862
2024-01-08  0.994333 -1.588774  0.483725
2024-01-09  1.627018  1.839313 -0.250640
2024-01-10 -0.226410 -2.189792  0.142163

In [9]:
df.describe()

               X          Y          Z
count  10.000000  10.000000  10.000000
mean    0.583175  -0.590081   0.350534
std     1.262481   1.560126   1.319917
min    -1.407618  -3.038886  -2.040024
25%    -0.178419  -1.497793  -0.152439
50%     0.289886  -0.583037   0.364699
75%     1.468847  -0.074856   0.752103
max     2.557887   1.839313   3.183347

In [11]:
# Dataframe by passing a dictionary of objects where the keys are the column labels and the values are the column values.
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
# Display the data_type of all column
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

## Viewing Data

In [14]:
df.to_numpy()

array([[ 3.02248779e-01, -3.03888582e+00,  2.45672768e-01],
       [-3.44476703e-02, -3.07536342e-01, -6.09117261e-01],
       [ 2.77523303e-01,  2.70375200e-03,  7.76529234e-01],
       [ 2.55788654e+00, -1.22484929e+00,  3.18334724e+00],
       [-1.40761847e+00, -4.56414109e-01,  6.78825140e-01],
       [-5.16627832e-01, -7.09660271e-01, -2.04002409e+00],
       [ 2.25784551e+00,  1.77308696e+00,  8.94861769e-01],
       [ 9.94333304e-01, -1.58877420e+00,  4.83725032e-01],
       [ 1.62701757e+00,  1.83931316e+00, -2.50640248e-01],
       [-2.26409938e-01, -2.18979208e+00,  1.42162749e-01]])

In [15]:
df[0:3]

                   X         Y         Z
2024-01-01  0.302249 -3.038886  0.245673
2024-01-02 -0.034448 -0.307536 -0.609117
2024-01-03  0.277523  0.002704  0.776529