## Title  :- Pandas Practice
### Name  :- Owais Ur Rehman
### Email :- owaisurrehmands@gmail.com

In [28]:
# import the useful Libraries
import pandas as pd
import numpy as np

In [3]:
# Make a series in pandas
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
type(s)

pandas.core.series.Series

In [5]:
# Create dataframe by by passing a NumPy array with a datetime index using date_range() and labeled columns
dates = pd.date_range("20240101", periods=10)
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# Creating a dataframe which will be in the shape of rows and column
df = pd.DataFrame(np.random.randn(10, 3), index=dates, columns=list("XYZ"))
df

                   X         Y         Z
2024-01-01  1.012669 -1.257133 -0.844291
2024-01-02  1.656776  0.198473  0.251964
2024-01-03 -2.208360 -0.210179  1.933249
2024-01-04 -1.216714  0.336052  0.538038
2024-01-05  0.277554 -0.723571  0.196162
2024-01-06  0.561671  1.360628  0.730313
2024-01-07  0.684371 -0.214766 -1.305839
2024-01-08 -0.470674  0.306399 -1.213469
2024-01-09 -0.463220  0.697365  0.110917
2024-01-10 -0.536820  0.394051 -0.959379

In [7]:
df.head()

                   X         Y         Z
2024-01-01  1.012669 -1.257133 -0.844291
2024-01-02  1.656776  0.198473  0.251964
2024-01-03 -2.208360 -0.210179  1.933249
2024-01-04 -1.216714  0.336052  0.538038
2024-01-05  0.277554 -0.723571  0.196162

In [8]:
df.tail()

                   X         Y         Z
2024-01-06  0.561671  1.360628  0.730313
2024-01-07  0.684371 -0.214766 -1.305839
2024-01-08 -0.470674  0.306399 -1.213469
2024-01-09 -0.463220  0.697365  0.110917
2024-01-10 -0.536820  0.394051 -0.959379

In [9]:
df.describe()

               X          Y          Z
count  10.000000  10.000000  10.000000
mean   -0.070275   0.088732  -0.056233
std     1.138392   0.734439   1.024906
min    -2.208360  -1.257133  -1.305839
25%    -0.520284  -0.213619  -0.930607
50%    -0.092833   0.252436   0.153540
75%     0.653696   0.379551   0.466519
max     1.656776   1.360628   1.933249

In [10]:
# Dataframe by passing a dictionary of objects where the keys are the column labels and the values are the column values.
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
# Display the data_type of all column
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

## Viewing Data

In [12]:
df.to_numpy()

array([[ 1.01266853, -1.2571334 , -0.84429118],
       [ 1.65677573,  0.19847273,  0.25196437],
       [-2.20835984, -0.21017912,  1.93324881],
       [-1.21671439,  0.33605155,  0.53803761],
       [ 0.27755368, -0.72357129,  0.19616233],
       [ 0.56167126,  1.36062753,  0.73031347],
       [ 0.68437144, -0.21476593, -1.30583937],
       [-0.47067388,  0.30639866, -1.21346851],
       [-0.46322012,  0.6973655 ,  0.11091692],
       [-0.53682042,  0.39405093, -0.95937875]])

In [13]:
df[0:3]

                   X         Y         Z
2024-01-01  1.012669 -1.257133 -0.844291
2024-01-02  1.656776  0.198473  0.251964
2024-01-03 -2.208360 -0.210179  1.933249

In [14]:
# Make the transpose of the dataset
df.T

,2024-01-01,2024-01-02,2024-01-03,2024-01-04,2024-01-05,2024-01-06,2024-01-07,2024-01-08,2024-01-09,2024-01-10
X,1.012669,1.656776,-2.208360,-1.216714,0.277554,0.561671,0.684371,-0.470674,-0.463220,-0.536820
Y,-1.257133,0.198473,-0.210179,0.336052,-0.723571,1.360628,-0.214766,0.306399,0.697365,0.394051
Z,-0.844291,0.251964,1.933249,0.538038,0.196162,0.730313,-1.305839,-1.213469,0.110917,-0.959379

In [15]:
# This code will sort the data in ascending or decending order
# 1- First sort in ascending order
df.sort_index()

                   X         Y         Z
2024-01-01  1.012669 -1.257133 -0.844291
2024-01-02  1.656776  0.198473  0.251964
2024-01-03 -2.208360 -0.210179  1.933249
2024-01-04 -1.216714  0.336052  0.538038
2024-01-05  0.277554 -0.723571  0.196162
2024-01-06  0.561671  1.360628  0.730313
2024-01-07  0.684371 -0.214766 -1.305839
2024-01-08 -0.470674  0.306399 -1.213469
2024-01-09 -0.463220  0.697365  0.110917
2024-01-10 -0.536820  0.394051 -0.959379

In [16]:
# Sorting aganist the columns
df.sort_index(axis=1)

                   X         Y         Z
2024-01-01  1.012669 -1.257133 -0.844291
2024-01-02  1.656776  0.198473  0.251964
2024-01-03 -2.208360 -0.210179  1.933249
2024-01-04 -1.216714  0.336052  0.538038
2024-01-05  0.277554 -0.723571  0.196162
2024-01-06  0.561671  1.360628  0.730313
2024-01-07  0.684371 -0.214766 -1.305839
2024-01-08 -0.470674  0.306399 -1.213469
2024-01-09 -0.463220  0.697365  0.110917
2024-01-10 -0.536820  0.394051 -0.959379

In [17]:
# Sortnig by values
sbv= pd.DataFrame({
     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
     'col2': [2, 1, 9, 8, 7, 4],
     'col3': [0, 1, 9, 4, 2, 3],
     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
 })
sbv

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

In [18]:
# Now sort the values of column
sbv.sort_values(['col1'])

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

In [19]:
# We can sort with multiple columns as well
sbv.sort_values(by=['col1', 'col2'])

  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

> #### Shown the difference between loc vs iloc

In [20]:
df_loc = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
 index=['cobra', 'viper', 'sidewinder'],
 columns=['max_speed', 'shield'])
df_loc

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [21]:
df_loc.loc['viper']
# This code return the row as series

max_speed    4
shield       5
Name: viper, dtype: int64

In [22]:
# This will display the data based on the index ranging from 0.....n
df_loc.iloc[2]

max_speed    7
shield       8
Name: sidewinder, dtype: int64

In [23]:
# That code will return the dataframe
df_loc.loc[['cobra','sidewinder']]

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [24]:
# Single label for row and column
df_loc.loc['sidewinder','max_speed']

np.int64(7)

In [25]:
# By using Boolean data type this can be done like this
df_loc.loc[[False, False, True]]
# The first two rows are false that's why the are not printed

            max_speed  shield
sidewinder          7       8

In [26]:
""" This will return the conditional data i.e weather the mention field has data maximum than 6"""
df_loc.loc[df_loc['shield']>2]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [27]:
# Multiple conditional using & that returns a boolean Series (LOGICAL OPERATORS)
df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]

KeyError: 'max_speed'

#### Setting values

Set value for all items matching the list of labels

In [53]:
# displaying the old dataset
df_loc

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [55]:
df_loc.loc[['viper', 'sidewinder'], ['shield']] = 100
# Updated Dataframe
df_loc

            max_speed  shield
cobra               1       2
viper               4     100
sidewinder          7     100

In [57]:
# Set value for an entire row
df_loc.loc['cobra']=30
df_loc

            max_speed  shield
cobra              30      30
viper               4     100
sidewinder          7     100

In [59]:
# Setting value for an entire column e.g max_speed column will be updated
df_loc.loc[:,'max_speed']=197
df_loc

            max_speed  shield
cobra             197      30
viper             197     100
sidewinder        197     100

In [62]:
# Setting using a Series or a DataFrame sets the values matching the index labels, not the index positions.
shuffled_df = df_loc.loc[["viper", "cobra", "sidewinder"]]
df_loc.loc[:] += shuffled_df
df_loc

            max_speed  shield
cobra             788     120
viper             788     400
sidewinder        788     400

### Boolean Indexing

In [29]:
df_booleanindexing = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df_booleanindexing

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [31]:
df_booleanindexing["E"] = ["one", "one", "two", "three"]
df_booleanindexing

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3    one  foo
1  1.0 2013-01-02  1.0  3    one  foo
2  1.0 2013-01-02  1.0  3    two  foo
3  1.0 2013-01-02  1.0  3  three  foo