In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\dns\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dns\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dns\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dns\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dns\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dns\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\DNS\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\dns\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.26.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\DNS\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8,10])
s

0     1.0
1     3.0
2     5.0
3     NaN
4     6.0
5     8.0
6    10.0
dtype: float64

In [9]:
dates = pd.date_range("20240919", periods=6)
dates

DatetimeIndex(['2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22',
               '2024-09-23', '2024-09-24'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df = pd.DataFrame(np.random.randn(6, 6), index=dates, columns=list("AYESHA"))
df

                   A         Y         E         S         H         A
2024-09-19  1.710166 -0.430204  0.558859 -0.632781 -0.597816  0.656340
2024-09-20 -0.137505 -0.881885  0.350507  1.354228 -0.838062 -0.711601
2024-09-21  1.161647 -1.124006  0.379385  0.531324  0.077783  0.923224
2024-09-22  0.023781 -0.537219  1.542975  0.692472 -0.953467  0.124304
2024-09-23  0.759776  0.537088 -0.411617  1.175868  0.167212  0.171248
2024-09-24 -1.503758  0.417469  0.062522 -0.599637 -0.196888  0.806890

In [35]:
df2=pd.DataFrame(
   {
        "A": 5.0,
        "B": pd.Timestamp("20240919"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([9] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "validate", "learn"]),
        "F": "task",
    }
)
df2

     A          B    C  D         E     F
0  5.0 2024-09-19  1.0  9      test  task
1  5.0 2024-09-19  1.0  9     train  task
2  5.0 2024-09-19  1.0  9  validate  task
3  5.0 2024-09-19  1.0  9     learn  task

In [39]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [40]:
df.head(2)

                   A         Y         E         S         H         A
2024-09-19  1.710166 -0.430204  0.558859 -0.632781 -0.597816  0.656340
2024-09-20 -0.137505 -0.881885  0.350507  1.354228 -0.838062 -0.711601

In [41]:
df.tail(4)

                   A         Y         E         S         H         A
2024-09-21  1.161647 -1.124006  0.379385  0.531324  0.077783  0.923224
2024-09-22  0.023781 -0.537219  1.542975  0.692472 -0.953467  0.124304
2024-09-23  0.759776  0.537088 -0.411617  1.175868  0.167212  0.171248
2024-09-24 -1.503758  0.417469  0.062522 -0.599637 -0.196888  0.806890

In [44]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [53]:
df.combine

<bound method DataFrame.combine of                    A         Y         E         S         H         A
2024-09-19  1.710166 -0.430204  0.558859 -0.632781 -0.597816  0.656340
2024-09-20 -0.137505 -0.881885  0.350507  1.354228 -0.838062 -0.711601
2024-09-21  1.161647 -1.124006  0.379385  0.531324  0.077783  0.923224
2024-09-22  0.023781 -0.537219  1.542975  0.692472 -0.953467  0.124304
2024-09-23  0.759776  0.537088 -0.411617  1.175868  0.167212  0.171248
2024-09-24 -1.503758  0.417469  0.062522 -0.599637 -0.196888  0.806890>

In [51]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [49]:
df2.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   5.0  2024-09-19 00:00:00  1.0  9.0
min    5.0  2024-09-19 00:00:00  1.0  9.0
25%    5.0  2024-09-19 00:00:00  1.0  9.0
50%    5.0  2024-09-19 00:00:00  1.0  9.0
75%    5.0  2024-09-19 00:00:00  1.0  9.0
max    5.0  2024-09-19 00:00:00  1.0  9.0
std    0.0                  NaN  0.0  0.0

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      datetime64[s]
 2   C       4 non-null      float32
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
dtypes: category(1), datetime64[s](1), float32(1), float64(1), int32(1), object(1)
memory usage: 368.0+ bytes

In [56]:
df2.T

,0,1,2,3
A,5.0,5.0,5.0,5.0
B,2024-09-19 00:00:00,2024-09-19 00:00:00,2024-09-19 00:00:00,2024-09-19 00:00:00
C,1.0,1.0,1.0,1.0
D,9,9,9,9
E,test,train,validate,learn
F,task,task,task,task

In [62]:
df.mean()

A    0.335685
Y   -0.336460
E    0.413772
S    0.420246
H   -0.390206
A    0.328401
dtype: float64

In [64]:
df.mode()

          A         Y         E         S         H         A
0 -1.503758 -1.124006 -0.411617 -0.632781 -0.953467 -0.711601
1 -0.137505 -0.881885  0.062522 -0.599637 -0.838062  0.124304
2  0.023781 -0.537219  0.350507  0.531324 -0.597816  0.171248
3  0.759776 -0.430204  0.379385  0.692472 -0.196888  0.656340
4  1.161647  0.417469  0.558859  1.175868  0.077783  0.806890
5  1.710166  0.537088  1.542975  1.354228  0.167212  0.923224

In [65]:
df.median()

A    0.391779
Y   -0.483711
E    0.364946
S    0.611898
H   -0.397352
A    0.413794
dtype: float64