In [1]:
%pip install numpy

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting numpy
  Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl.metadata (59 kB)
Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
    --------------------------------------- 0.3/12.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.6 MB 1.7 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/12.6 MB 1.5 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/12.6 MB 1.6 MB/s eta 0:00:08
   ----- ---------------------------------- 1.6/12.6 MB 1.6 MB/s eta 0:00:08
   ----- ---------------------------------- 1.8/12.6 MB 1.5 MB/s eta 0:00:07
   ------- -------------------------------- 2.4/12.6 MB 1.6 MB/s eta 0:00:07
   -------- ------------------------------- 2.6/12.6 MB 1.6 MB/s eta 0:00:07
   ---------- ----------------------------- 3.1/12.6 MB 1.6 MB/s eta 0:00:06
   ---------- ----------------------------- 3.4/12.6 MB 1.6 MB/s eta 0:00:06
   ----------- ---------------------------- 3.7/12.6 MB 1.6 MB/s eta 0:00:06
   ------------ --------------------------- 3.9/12.6 MB 1.6 MB/s eta 0:00:06
   ------------- -------------------------- 4.2/12.6 MB 1.5 MB/s eta 0:00:06
   -------------- ------------------------- 4.5/12.6 MB 1.5 MB/s eta 0:00:06
   --------------- ------------------------ 4.7/12.6 MB 1.5 MB/s eta 0:00:06
   ---------------- ----------------------- 5.2/12.6 MB 1.5 MB/s eta 0:00:05
   ----------------- ---------------------- 5.5/12.6 MB 1.5 MB/s eta 0:00:05
   ------------------ --------------------- 5.8/12.6 MB 1.5 MB/s eta 0:00:05
   ------------------- -------------------- 6.0/12.6 MB 1.5 MB/s eta 0:00:05
   -------------------- ------------------- 6.3/12.6 MB 1.5 MB/s eta 0:00:05
   --------------------- ------------------ 6.8/12.6 MB 1.5 MB/s eta 0:00:04
   ---------------------- ----------------- 7.1/12.6 MB 1.5 MB/s eta 0:00:04
   ----------------------- ---------------- 7.3/12.6 MB 1.5 MB/s eta 0:00:04
   ------------------------- -------------- 7.9/12.6 MB 1.5 MB/s eta 0:00:04
   ------------------------- -------------- 8.1/12.6 MB 1.5 MB/s eta 0:00:03
   -------------------------- ------------- 8.4/12.6 MB 1.5 MB/s eta 0:00:03
   ---------------------------- ----------- 8.9/12.6 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 9.2/12.6 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 9.7/12.6 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 10.0/12.6 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 10.2/12.6 MB 1.5 MB/s eta 0:00:02
   ---------------------------------- ----- 10.7/12.6 MB 1.5 MB/s eta 0:00:02
   ----------------------------------- ---- 11.0/12.6 MB 1.5 MB/s eta 0:00:02
   ----------------------------------- ---- 11.3/12.6 MB 1.5 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 1.5 MB/s eta 0:00:01
   ------------------------------------- -- 11.8/12.6 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 1.5 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.1.1

In [2]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.5 MB 1.4 MB/s eta 0:00:08
   --- ------------------------------------ 1.0/11.5 MB 1.4 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/11.5 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/11.5 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.6/11.5 MB 1.1 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.5 MB 1.1 MB/s eta 0:00:10
   ------- -------------------------------- 2.1/11.5 MB 1.0 MB/s eta 0:00:10
   ------- -------------------------------- 2.1/11.5 MB 1.0 MB/s eta 0:00:10
   -------- ------------------------------- 2.4/11.5 MB 979.5 kB/s eta 0:00:10
   --------- ------------------------------ 2.6/11.5 MB 961.8 kB/s eta 0:00:10
   --------- ------------------------------ 2.6/11.5 MB 961.8 kB/s eta 0:00:10
   ---------- ----------------------------- 2.9/11.5 MB 937.2 kB/s eta 0:00:10
   ---------- ----------------------------- 3.1/11.5 MB 922.7 kB/s eta 0:00:10
   ---------- ----------------------------- 3.1/11.5 MB 922.7 kB/s eta 0:00:10
   ----------- ---------------------------- 3.4/11.5 MB 915.3 kB/s eta 0:00:09
   ------------ --------------------------- 3.7/11.5 MB 908.8 kB/s eta 0:00:09
   ------------ --------------------------- 3.7/11.5 MB 908.8 kB/s eta 0:00:09
   ------------- -------------------------- 3.9/11.5 MB 896.4 kB/s eta 0:00:09
   ------------- -------------------------- 3.9/11.5 MB 896.4 kB/s eta 0:00:09
   -------------- ------------------------- 4.2/11.5 MB 855.9 kB/s eta 0:00:09
   -------------- ------------------------- 4.2/11.5 MB 855.9 kB/s eta 0:00:09
   --------------- ------------------------ 4.5/11.5 MB 833.7 kB/s eta 0:00:09
   --------------- ------------------------ 4.5/11.5 MB 833.7 kB/s eta 0:00:09
   ---------------- ----------------------- 4.7/11.5 MB 821.9 kB/s eta 0:00:09
   ---------------- ----------------------- 4.7/11.5 MB 821.9 kB/s eta 0:00:09
   ----------------- ---------------------- 5.0/11.5 MB 816.2 kB/s eta 0:00:08
   ----------------- ---------------------- 5.0/11.5 MB 816.2 kB/s eta 0:00:08
   ------------------ --------------------- 5.2/11.5 MB 800.9 kB/s eta 0:00:08
   ------------------- -------------------- 5.5/11.5 MB 795.1 kB/s eta 0:00:08
   ------------------- -------------------- 5.5/11.5 MB 795.1 kB/s eta 0:00:08
   -------------------- ------------------- 5.8/11.5 MB 791.7 kB/s eta 0:00:08
   -------------------- ------------------- 6.0/11.5 MB 790.3 kB/s eta 0:00:07
   -------------------- ------------------- 6.0/11.5 MB 790.3 kB/s eta 0:00:07
   --------------------- ------------------ 6.3/11.5 MB 787.5 kB/s eta 0:00:07
   ---------------------- ----------------- 6.6/11.5 MB 789.5 kB/s eta 0:00:07
   ---------------------- ----------------- 6.6/11.5 MB 789.5 kB/s eta 0:00:07
   ----------------------- ---------------- 6.8/11.5 MB 791.4 kB/s eta 0:00:06
   ------------------------ --------------- 7.1/11.5 MB 798.9 kB/s eta 0:00:06
   ------------------------- -------------- 7.3/11.5 MB 804.6 kB/s eta 0:00:06
   -------------------------- ------------- 7.6/11.5 MB 811.3 kB/s eta 0:00:05
   --------------------------- ------------ 7.9/11.5 MB 820.4 kB/s eta 0:00:05
   ---------------------------- ----------- 8.1/11.5 MB 827.8 kB/s eta 0:00:05
   ----------------------------- ---------- 8.4/11.5 MB 837.5 kB/s eta 0:00:04
   ------------------------------ --------- 8.7/11.5 MB 844.2 kB/s eta 0:00:04
   ------------------------------- -------- 8.9/11.5 MB 853.0 kB/s eta 0:00:04
   ------------------------------- -------- 9.2/11.5 MB 861.6 kB/s eta 0:00:03
   -------------------------------- ------- 9.4/11.5 MB 871.2 kB/s eta 0:00:03
   --------------------------------- ------ 9.7/11.5 MB 880.4 kB/s eta 0:00:03
   ----------------------------------- ---- 10.2/11.5 MB 900.5 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 906.3 kB/s eta 0:00:02
   ------------------------------------- -- 10.7/11.5 MB 914.3 kB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 919.6 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 924.7 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 924.7 kB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 922.0 kB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.2 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [10]:
import numpy as np

In [2]:
import pandas as pd

In [11]:
#Series Function
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [15]:
#Data Frames 
# data_range()
dates = pd.date_range("20130101", periods=6)

dates


#print("stop")

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01  1.528278 -0.076136 -1.352456 -0.639012
2013-01-02 -0.691766 -0.655615 -0.922440 -0.434063
2013-01-03 -1.506078 -1.838311  0.738114  0.391535
2013-01-04  1.008227  0.169466 -1.500458 -0.230070
2013-01-05 -0.574643  1.661289  0.592332  0.852425
2013-01-06  0.365327  1.529565 -2.114496 -0.049872

In [16]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [17]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [21]:
 # noqa: E225, E999
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [22]:
df2.abs

<bound method NDFrame.abs of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [25]:
df2.add_prefix

<bound method NDFrame.add_prefix of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [26]:
df2.add_suffix

<bound method NDFrame.add_suffix of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [27]:
df2.align

<bound method NDFrame.align of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [28]:
df2.all

<bound method DataFrame.all of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [29]:
df2.any

<bound method DataFrame.any of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [34]:
df2.append

AttributeError: 'DataFrame' object has no attribute 'append'

In [35]:
df2.apply

<bound method DataFrame.apply of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [36]:
df2.applymap

<bound method DataFrame.applymap of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [37]:
df2.B

0   2013-01-02
1   2013-01-02
2   2013-01-02
3   2013-01-02
Name: B, dtype: datetime64[s]

In [38]:
df2.bool

<bound method NDFrame.bool of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [39]:
  df2.boxplot

<bound method boxplot_frame of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [40]:
df2.C

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

In [41]:
df2.clip

<bound method NDFrame.clip of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [42]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [43]:
 df2.copy

<bound method NDFrame.copy of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [44]:
df2.count

<bound method DataFrame.count of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [45]:
  df2.combine

<bound method DataFrame.combine of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [46]:
df2.describe

<bound method NDFrame.describe of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [47]:
df2.diff

<bound method DataFrame.diff of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [48]:
df2.duplicated

<bound method DataFrame.duplicated of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [52]:
df.head()

                   A         B         C         D
2013-01-01  1.528278 -0.076136 -1.352456 -0.639012
2013-01-02 -0.691766 -0.655615 -0.922440 -0.434063
2013-01-03 -1.506078 -1.838311  0.738114  0.391535
2013-01-04  1.008227  0.169466 -1.500458 -0.230070
2013-01-05 -0.574643  1.661289  0.592332  0.852425

In [54]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.008227  0.169466 -1.500458 -0.230070
2013-01-05 -0.574643  1.661289  0.592332  0.852425
2013-01-06  0.365327  1.529565 -2.114496 -0.049872

In [53]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [55]:
df.to_numpy()

array([[ 1.52827776, -0.0761355 , -1.3524563 , -0.63901174],
       [-0.69176572, -0.65561511, -0.92243974, -0.43406335],
       [-1.50607833, -1.83831126,  0.73811385,  0.39153515],
       [ 1.00822717,  0.16946626, -1.50045815, -0.23006992],
       [-0.57464327,  1.66128886,  0.59233182,  0.85242496],
       [ 0.36532703,  1.5295649 , -2.11449555, -0.04987159]])

In [56]:
import pandas as pd
import numpy as np

# Create a Series with random numbers
s = pd.Series(np.random.randn(10))

print("Series:")
print(s)

# Using basic methods
print("First 5 elements of the Series:\n", s.head())
print("\nLast 3 elements of the Series:\n", s.tail(3))
print("\nDescriptive statistics of the Series:\n", s.describe())

Series:
0   -0.165309
1   -1.903558
2   -0.441722
3   -0.565436
4   -0.364519
5    0.487243
6   -0.251832
7    0.696259
8    0.102164
9    0.742816
dtype: float64
First 5 elements of the Series:
 0   -0.165309
1   -1.903558
2   -0.441722
3   -0.565436
4   -0.364519
dtype: float64

Last 3 elements of the Series:
 7    0.696259
8    0.102164
9    0.742816
dtype: float64

Descriptive statistics of the Series:
 count    10.000000
mean     -0.166389
std       0.772408
min      -1.903558
25%      -0.422421
50%      -0.208571
75%       0.390973
max       0.742816
dtype: float64

In [57]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [58]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -0.280049 -0.839018  1.362905  0.987500
2013-01-02 -0.952427  1.000594  1.458173  1.354404
2013-01-03 -0.568745 -0.087477  0.204503  1.692516
2013-01-04  0.297723  1.183462  2.562678 -0.508385
2013-01-05  2.339837  1.444471 -1.303741  0.415187
2013-01-06  0.991042 -0.466796  0.568300 -1.927360

In [59]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [60]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [61]:
df.head()

                   A         B         C         D
2013-01-01 -0.280049 -0.839018  1.362905  0.987500
2013-01-02 -0.952427  1.000594  1.458173  1.354404
2013-01-03 -0.568745 -0.087477  0.204503  1.692516
2013-01-04  0.297723  1.183462  2.562678 -0.508385
2013-01-05  2.339837  1.444471 -1.303741  0.415187

In [62]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.297723  1.183462  2.562678 -0.508385
2013-01-05  2.339837  1.444471 -1.303741  0.415187
2013-01-06  0.991042 -0.466796  0.568300 -1.927360

In [63]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [64]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [65]:
df.to_numpy()

array([[-0.2800487 , -0.83901842,  1.36290483,  0.98749959],
       [-0.95242712,  1.00059409,  1.4581727 ,  1.35440358],
       [-0.56874466, -0.08747743,  0.20450304,  1.69251583],
       [ 0.29772308,  1.18346226,  2.56267825, -0.50838487],
       [ 2.3398367 ,  1.444471  , -1.30374055,  0.4151874 ],
       [ 0.99104224, -0.46679617,  0.56829975, -1.92735953]])

In [71]:
%pip install matplotlib

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting matplotlib
  Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.0-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.53.1-cp312-cp312-win_amd64.whl.metadata (165 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.4.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   -- ------------------------------------- 0.5/7.8 MB 42.5 kB/s eta 0:02:53
   ---- ----------------------------------- 0.8/7.8 MB 37.2 kB/s eta 0:03:10
   ---- ----------------------------------- 0.8/7.8 MB 37.2 kB/s eta 0:03:10
   ---- ----------------------------------- 0.8/7.8 MB 37.2 kB/s eta 0:03:10
   ---- ----------------------------------- 0.8/7.8 MB 37.2 kB/s eta 0:03:10
   ----- ---------------------------------- 1.0/7.8 MB 52.3 kB/s eta 0:02:10
   ----- ---------------------------------- 1.0/7.8 MB 52.3 kB/s eta 0:02:10
   ----- ---------------------------------- 1.0/7.8 MB 52.3 kB/s eta 0:02:10
   ------ --------------------------------- 1.3/7.8 MB 67.2 kB/s eta 0:01:37
   ------ --------------------------------- 1.3/7.8 MB 67.2 kB/s eta 0:01:37
   -------- ------------------------------- 1.6/7.8 MB 82.0 kB/s eta 0:01:17
   --------- ------------------------------ 1.8/7.8 MB 96.7 kB/s eta 0:01:03
   ---------- ----------------------------- 2.1/7.8 MB 111.1 kB/s eta 0:00:52
   ------------ --------------------------- 2.4/7.8 MB 124.7 kB/s eta 0:00:44
   ------------- -------------------------- 2.6/7.8 MB 138.4 kB/s eta 0:00:38
   ------------- -------------------------- 2.6/7.8 MB 138.4 kB/s eta 0:00:38
   -------------- ------------------------- 2.9/7.8 MB 149.5 kB/s eta 0:00:34
   -------------- ------------------------- 2.9/7.8 MB 149.5 kB/s eta 0:00:34
   -------------- ------------------------- 2.9/7.8 MB 149.5 kB/s eta 0:00:34
   ---------------- ----------------------- 3.1/7.8 MB 159.4 kB/s eta 0:00:30
   ---------------- ----------------------- 3.1/7.8 MB 159.4 kB/s eta 0:00:30
   ----------------- ---------------------- 3.4/7.8 MB 168.6 kB/s eta 0:00:27
   ----------------- ---------------------- 3.4/7.8 MB 168.6 kB/s eta 0:00:27
   ----------------- ---------------------- 3.4/7.8 MB 168.6 kB/s eta 0:00:27
   ------------------ --------------------- 3.7/7.8 MB 177.9 kB/s eta 0:00:24
   ------------------ --------------------- 3.7/7.8 MB 177.9 kB/s eta 0:00:24
   -------------------- ------------------- 3.9/7.8 MB 187.3 kB/s eta 0:00:21
   -------------------- ------------------- 3.9/7.8 MB 187.3 kB/s eta 0:00:21
   --------------------- ------------------ 4.2/7.8 MB 196.1 kB/s eta 0:00:19
   --------------------- ------------------ 4.2/7.8 MB 196.1 kB/s eta 0:00:19
   ---------------------- ----------------- 4.5/7.8 MB 204.4 kB/s eta 0:00:17
   ---------------------- ----------------- 4.5/7.8 MB 204.4 kB/s eta 0:00:17
   ------------------------ --------------- 4.7/7.8 MB 212.7 kB/s eta 0:00:15
   ------------------------ --------------- 4.7/7.8 MB 212.7 kB/s eta 0:00:15
   ------------------------- -------------- 5.0/7.8 MB 221.2 kB/s eta 0:00:13
   -------------------------- ------------- 5.2/7.8 MB 229.7 kB/s eta 0:00:12
   -------------------------- ------------- 5.2/7.8 MB 229.7 kB/s eta 0:00:12
   ---------------------------- ----------- 5.5/7.8 MB 238.2 kB/s eta 0:00:10
   ----------------------------- ---------- 5.8/7.8 MB 246.2 kB/s eta 0:00:09
   ----------------------------- ---------- 5.8/7.8 MB 246.2 kB/s eta 0:00:09
   ------------------------------ --------- 6.0/7.8 MB 253.9 kB/s eta 0:00:08
   ------------------------------ --------- 6.0/7.8 MB 253.9 kB/s eta 0:00:08
   -------------------------------- ------- 6.3/7.8 MB 261.3 kB/s eta 0:00:06
   --------------------------------- ------ 6.6/7.8 MB 268.6 kB/s eta 0:00:05
   --------------------------------- ------ 6.6/7.8 MB 268.6 kB/s eta 0:00:05
   ---------------------------------- ----- 6.8/7.8 MB 275.8 kB/s eta 0:00:04
   ------------------------------------ --- 7.1/7.8 MB 282.7 kB/s eta 0:00:03
   ------------------------------------- -- 7.3/7.8 MB 290.2 kB/s eta 0:00:02
   ------------------------------------- -- 7.3/7.8 MB 290.2 kB/s eta 0:00:02
   -------------------------------------- - 7.6/7.8 MB 297.3 kB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 302.8 kB/s eta 0:00:00
Downloading contourpy-1.3.0-cp312-cp312-win_amd64.whl (218 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.53.1-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.2 MB 799.2 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.2 MB 799.2 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.2 MB 799.2 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.2 MB 762.8 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.2 MB 762.8 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.2 MB 762.8 kB/s eta 0:00:02
   ----------------------- ---------------- 1.3/2.2 MB 692.1 kB/s eta 0:00:02
   ---------------------------- ----------- 1.6/2.2 MB 699.0 kB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 699.0 kB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.2 MB 699.0 kB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.2 MB 699.0 kB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 690.7 kB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl (55 kB)
Downloading pillow-10.4.0-cp312-cp312-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.6 MB 837.5 kB/s eta 0:00:03
   ------------ --------------------------- 0.8/2.6 MB 799.2 kB/s eta 0:00:03
   ------------ --------------------------- 0.8/2.6 MB 799.2 kB/s eta 0:00:03
   ---------------- ----------------------- 1.0/2.6 MB 774.0 kB/s eta 0:00:02
   ---------------- ----------------------- 1.0/2.6 MB 774.0 kB/s eta 0:00:02
   -------------------- ------------------- 1.3/2.6 MB 753.8 kB/s eta 0:00:02
   ------------------------ --------------- 1.6/2.6 MB 762.5 kB/s eta 0:00:02
   ------------------------ --------------- 1.6/2.6 MB 762.5 kB/s eta 0:00:02
   ---------------------------- ----------- 1.8/2.6 MB 768.4 kB/s eta 0:00:01
   -------------------------------- ------- 2.1/2.6 MB 782.9 kB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 794.1 kB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 794.1 kB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 776.4 kB/s eta 0:00:00
Downloading pyparsing-3.1.4-py3-none-any.whl (104 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.53.1 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-10.4.0 pyparsing-3.1.4

In [74]:
%pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\001mh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.