In [12]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\cca\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\cca\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cca\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cca\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cca\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\cca\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\cca\appdata\local\programs\python\python312\lib\site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import numpy as np

import pandas as pd

In [20]:
s = pd.Series([10, 35, 50, np.nan, 6, 8])
s

0    10.0
1    35.0
2    50.0
3     NaN
4     6.0
5     8.0
dtype: float64

In [22]:
dates = pd.date_range("20240919", periods=10)
dates

DatetimeIndex(['2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22',
               '2024-09-23', '2024-09-24', '2024-09-25', '2024-09-26',
               '2024-09-27', '2024-09-28'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df = pd.DataFrame(np.random.randn(10, 6), index=dates, columns=list("ABCDEF"))
df

                   A         B         C         D         E         F
2024-09-19 -0.218247  0.662571 -0.496586 -1.013416 -0.943005  0.199814
2024-09-20  0.784796 -0.336978 -2.309062  0.620195 -0.597457  2.311709
2024-09-21  1.414900  0.025136 -0.219418 -1.161544  0.150794 -0.903533
2024-09-22  0.904975  0.326545 -0.166634 -0.328978 -0.380240 -0.345892
2024-09-23  1.078881  1.101764 -1.025913  0.447255  0.455010  0.751323
2024-09-24  1.221464  1.012229  1.228691  0.283747 -1.933772 -0.900464
2024-09-25 -0.093160 -1.218133 -0.082996 -0.754626 -1.140691  1.780249
2024-09-26 -2.114061 -0.947612 -0.176707  0.023971 -0.347704 -0.719593
2024-09-27 -0.567798  1.084154  1.013608 -2.035890  0.936324 -1.961749
2024-09-28  0.387000  1.288576 -0.994873 -0.570832  0.487494  0.861679

In [29]:
df2 = pd.DataFrame(
    {
        "A": 9.5,
        "B": pd.Timestamp("20240919"),
        "C": pd.Series(1, index=list(range(6)), dtype="float32"),
        "D": np.array([9] * 6, dtype="int32"),
        "E": pd.Categorical(["rain", "apple", "pencil", "banana","pen","piano"]),
        "F": "foo",
    }
)
df2

     A          B    C  D       E    F
0  9.5 2024-09-19  1.0  9    rain  foo
1  9.5 2024-09-19  1.0  9   apple  foo
2  9.5 2024-09-19  1.0  9  pencil  foo
3  9.5 2024-09-19  1.0  9  banana  foo
4  9.5 2024-09-19  1.0  9     pen  foo
5  9.5 2024-09-19  1.0  9   piano  foo

In [30]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [33]:
df.head(4)

                   A         B         C         D         E         F
2024-09-19 -0.218247  0.662571 -0.496586 -1.013416 -0.943005  0.199814
2024-09-20  0.784796 -0.336978 -2.309062  0.620195 -0.597457  2.311709
2024-09-21  1.414900  0.025136 -0.219418 -1.161544  0.150794 -0.903533
2024-09-22  0.904975  0.326545 -0.166634 -0.328978 -0.380240 -0.345892

In [32]:
df.tail(4)

                   A         B         C         D         E         F
2024-09-25 -0.093160 -1.218133 -0.082996 -0.754626 -1.140691  1.780249
2024-09-26 -2.114061 -0.947612 -0.176707  0.023971 -0.347704 -0.719593
2024-09-27 -0.567798  1.084154  1.013608 -2.035890  0.936324 -1.961749
2024-09-28  0.387000  1.288576 -0.994873 -0.570832  0.487494  0.861679

In [34]:
df.index

DatetimeIndex(['2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22',
               '2024-09-23', '2024-09-24', '2024-09-25', '2024-09-26',
               '2024-09-27', '2024-09-28'],
              dtype='datetime64[ns]', freq='D')

In [35]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [36]:
df.describe()

               A          B          C          D          E          F
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.279875   0.299825  -0.322989  -0.449012  -0.331325   0.107354
std     1.070162   0.895482   1.012616   0.828267   0.869144   1.327406
min    -2.114061  -1.218133  -2.309062  -2.035890  -1.933772  -1.961749
25%    -0.186975  -0.246449  -0.870301  -0.948719  -0.856618  -0.855246
50%     0.585898   0.494558  -0.198062  -0.449905  -0.363972  -0.073039
75%     1.035405   1.066173  -0.103905   0.218803   0.378956   0.834090
max     1.414900   1.288576   1.228691   0.620195   0.936324   2.311709

In [37]:
df.T

,2024-09-19,2024-09-20,2024-09-21,2024-09-22,2024-09-23,2024-09-24,2024-09-25,2024-09-26,2024-09-27,2024-09-28
A,-0.218247,0.784796,1.414900,0.904975,1.078881,1.221464,-0.093160,-2.114061,-0.567798,0.387000
B,0.662571,-0.336978,0.025136,0.326545,1.101764,1.012229,-1.218133,-0.947612,1.084154,1.288576
C,-0.496586,-2.309062,-0.219418,-0.166634,-1.025913,1.228691,-0.082996,-0.176707,1.013608,-0.994873
D,-1.013416,0.620195,-1.161544,-0.328978,0.447255,0.283747,-0.754626,0.023971,-2.035890,-0.570832
E,-0.943005,-0.597457,0.150794,-0.380240,0.455010,-1.933772,-1.140691,-0.347704,0.936324,0.487494
F,0.199814,2.311709,-0.903533,-0.345892,0.751323,-0.900464,1.780249,-0.719593,-1.961749,0.861679

In [38]:
df[0:7]

                   A         B         C         D         E         F
2024-09-19 -0.218247  0.662571 -0.496586 -1.013416 -0.943005  0.199814
2024-09-20  0.784796 -0.336978 -2.309062  0.620195 -0.597457  2.311709
2024-09-21  1.414900  0.025136 -0.219418 -1.161544  0.150794 -0.903533
2024-09-22  0.904975  0.326545 -0.166634 -0.328978 -0.380240 -0.345892
2024-09-23  1.078881  1.101764 -1.025913  0.447255  0.455010  0.751323
2024-09-24  1.221464  1.012229  1.228691  0.283747 -1.933772 -0.900464
2024-09-25 -0.093160 -1.218133 -0.082996 -0.754626 -1.140691  1.780249

In [39]:
df["20240919":"20240923"]

                   A         B         C         D         E         F
2024-09-19 -0.218247  0.662571 -0.496586 -1.013416 -0.943005  0.199814
2024-09-20  0.784796 -0.336978 -2.309062  0.620195 -0.597457  2.311709
2024-09-21  1.414900  0.025136 -0.219418 -1.161544  0.150794 -0.903533
2024-09-22  0.904975  0.326545 -0.166634 -0.328978 -0.380240 -0.345892
2024-09-23  1.078881  1.101764 -1.025913  0.447255  0.455010  0.751323

In [40]:
df.mean

<bound method DataFrame.mean of                    A         B         C         D         E         F
2024-09-19 -0.218247  0.662571 -0.496586 -1.013416 -0.943005  0.199814
2024-09-20  0.784796 -0.336978 -2.309062  0.620195 -0.597457  2.311709
2024-09-21  1.414900  0.025136 -0.219418 -1.161544  0.150794 -0.903533
2024-09-22  0.904975  0.326545 -0.166634 -0.328978 -0.380240 -0.345892
2024-09-23  1.078881  1.101764 -1.025913  0.447255  0.455010  0.751323
2024-09-24  1.221464  1.012229  1.228691  0.283747 -1.933772 -0.900464
2024-09-25 -0.093160 -1.218133 -0.082996 -0.754626 -1.140691  1.780249
2024-09-26 -2.114061 -0.947612 -0.176707  0.023971 -0.347704 -0.719593
2024-09-27 -0.567798  1.084154  1.013608 -2.035890  0.936324 -1.961749
2024-09-28  0.387000  1.288576 -0.994873 -0.570832  0.487494  0.861679>

In [41]:
df.median

<bound method DataFrame.median of                    A         B         C         D         E         F
2024-09-19 -0.218247  0.662571 -0.496586 -1.013416 -0.943005  0.199814
2024-09-20  0.784796 -0.336978 -2.309062  0.620195 -0.597457  2.311709
2024-09-21  1.414900  0.025136 -0.219418 -1.161544  0.150794 -0.903533
2024-09-22  0.904975  0.326545 -0.166634 -0.328978 -0.380240 -0.345892
2024-09-23  1.078881  1.101764 -1.025913  0.447255  0.455010  0.751323
2024-09-24  1.221464  1.012229  1.228691  0.283747 -1.933772 -0.900464
2024-09-25 -0.093160 -1.218133 -0.082996 -0.754626 -1.140691  1.780249
2024-09-26 -2.114061 -0.947612 -0.176707  0.023971 -0.347704 -0.719593
2024-09-27 -0.567798  1.084154  1.013608 -2.035890  0.936324 -1.961749
2024-09-28  0.387000  1.288576 -0.994873 -0.570832  0.487494  0.861679>

In [42]:
df.mode

<bound method DataFrame.mode of                    A         B         C         D         E         F
2024-09-19 -0.218247  0.662571 -0.496586 -1.013416 -0.943005  0.199814
2024-09-20  0.784796 -0.336978 -2.309062  0.620195 -0.597457  2.311709
2024-09-21  1.414900  0.025136 -0.219418 -1.161544  0.150794 -0.903533
2024-09-22  0.904975  0.326545 -0.166634 -0.328978 -0.380240 -0.345892
2024-09-23  1.078881  1.101764 -1.025913  0.447255  0.455010  0.751323
2024-09-24  1.221464  1.012229  1.228691  0.283747 -1.933772 -0.900464
2024-09-25 -0.093160 -1.218133 -0.082996 -0.754626 -1.140691  1.780249
2024-09-26 -2.114061 -0.947612 -0.176707  0.023971 -0.347704 -0.719593
2024-09-27 -0.567798  1.084154  1.013608 -2.035890  0.936324 -1.961749
2024-09-28  0.387000  1.288576 -0.994873 -0.570832  0.487494  0.861679>

In [43]:
df.info

<bound method DataFrame.info of                    A         B         C         D         E         F
2024-09-19 -0.218247  0.662571 -0.496586 -1.013416 -0.943005  0.199814
2024-09-20  0.784796 -0.336978 -2.309062  0.620195 -0.597457  2.311709
2024-09-21  1.414900  0.025136 -0.219418 -1.161544  0.150794 -0.903533
2024-09-22  0.904975  0.326545 -0.166634 -0.328978 -0.380240 -0.345892
2024-09-23  1.078881  1.101764 -1.025913  0.447255  0.455010  0.751323
2024-09-24  1.221464  1.012229  1.228691  0.283747 -1.933772 -0.900464
2024-09-25 -0.093160 -1.218133 -0.082996 -0.754626 -1.140691  1.780249
2024-09-26 -2.114061 -0.947612 -0.176707  0.023971 -0.347704 -0.719593
2024-09-27 -0.567798  1.084154  1.013608 -2.035890  0.936324 -1.961749
2024-09-28  0.387000  1.288576 -0.994873 -0.570832  0.487494  0.861679>