In [25]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\home\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\home\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\home\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\home\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\home\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\home\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\home\appdata\local\programs\python\python312\lib\site-packages (2.1.1)Note: you may need to restart the kernel to use updated packages.

In [27]:
import numpy as np

import pandas as pd

In [28]:
z = pd.Series([2, 4, 6, np.nan, 7, 9])
z

0    2.0
1    4.0
2    6.0
3    NaN
4    7.0
5    9.0
dtype: float64

In [29]:
dates = pd.date_range("20240919", periods=7)
dates

DatetimeIndex(['2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22',
               '2024-09-23', '2024-09-24', '2024-09-25'],
              dtype='datetime64[ns]', freq='D')

In [33]:
df = pd.DataFrame(np.random.randn(7, 6), index=dates, columns=list("UVWXYZ"))
df

                   U         V         W         X         Y         Z
2024-09-19  1.309271 -0.323835 -0.478679 -1.451190 -0.750772  0.792096
2024-09-20 -1.438935  0.405299  1.469898 -0.392773  0.704176  1.053668
2024-09-21 -0.047468  2.586897  0.166073 -1.086826  0.115395 -1.507472
2024-09-22 -0.860686 -2.924495  0.064880  1.065904 -0.441306  0.513502
2024-09-23 -1.765162 -0.320345 -0.923662  1.043826 -0.928696  0.485899
2024-09-24  0.449669  0.195528  0.481617  0.002069 -0.080730 -1.594260
2024-09-25 -0.387270 -0.475900  0.187406  0.178482 -1.101397  0.123384

In [40]:
df2 = pd.DataFrame(
    {
        "A": 5.25,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [41]:
df2

      A          B    C  D      E    F
0  5.25 2013-01-02  1.0  3   test  foo
1  5.25 2013-01-02  1.0  3  train  foo
2  5.25 2013-01-02  1.0  3   test  foo
3  5.25 2013-01-02  1.0  3  train  foo

In [42]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [43]:
df.dtypes

U    float64
V    float64
W    float64
X    float64
Y    float64
Z    float64
dtype: object

In [44]:
z.dtypes

dtype('float64')

In [45]:
df.head(3)

                   U         V         W         X         Y         Z
2024-09-19  1.309271 -0.323835 -0.478679 -1.451190 -0.750772  0.792096
2024-09-20 -1.438935  0.405299  1.469898 -0.392773  0.704176  1.053668
2024-09-21 -0.047468  2.586897  0.166073 -1.086826  0.115395 -1.507472

In [46]:
df2.head(3)

      A          B    C  D      E    F
0  5.25 2013-01-02  1.0  3   test  foo
1  5.25 2013-01-02  1.0  3  train  foo
2  5.25 2013-01-02  1.0  3   test  foo

In [47]:
df.tail(2)

                   U         V         W         X         Y         Z
2024-09-24  0.449669  0.195528  0.481617  0.002069 -0.080730 -1.594260
2024-09-25 -0.387270 -0.475900  0.187406  0.178482 -1.101397  0.123384

In [49]:
df2.tail(3)

      A          B    C  D      E    F
1  5.25 2013-01-02  1.0  3  train  foo
2  5.25 2013-01-02  1.0  3   test  foo
3  5.25 2013-01-02  1.0  3  train  foo

In [50]:
df.index

DatetimeIndex(['2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22',
               '2024-09-23', '2024-09-24', '2024-09-25'],
              dtype='datetime64[ns]', freq='D')

In [51]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [53]:
df.columns

Index(['U', 'V', 'W', 'X', 'Y', 'Z'], dtype='object')

In [54]:
df.describe()

              U         V         W         X         Y         Z
count  7.000000  7.000000  7.000000  7.000000  7.000000  7.000000
mean  -0.391511 -0.122407  0.138219 -0.091501 -0.354761 -0.019026
std    1.074148  1.621537  0.753660  0.969569  0.641440  1.085068
min   -1.765162 -2.924495 -0.923662 -1.451190 -1.101397 -1.594260
25%   -1.149810 -0.399868 -0.206899 -0.739799 -0.839734 -0.692044
50%   -0.387270 -0.320345  0.166073  0.002069 -0.441306  0.485899
75%    0.201101  0.300414  0.334511  0.611154  0.017333  0.652799
max    1.309271  2.586897  1.469898  1.065904  0.704176  1.053668

In [55]:
df2.describe()

          A                    B    C    D
count  4.00                    4  4.0  4.0
mean   5.25  2013-01-02 00:00:00  1.0  3.0
min    5.25  2013-01-02 00:00:00  1.0  3.0
25%    5.25  2013-01-02 00:00:00  1.0  3.0
50%    5.25  2013-01-02 00:00:00  1.0  3.0
75%    5.25  2013-01-02 00:00:00  1.0  3.0
max    5.25  2013-01-02 00:00:00  1.0  3.0
std    0.00                  NaN  0.0  0.0

In [58]:
df.describe()

              U         V         W         X         Y         Z
count  7.000000  7.000000  7.000000  7.000000  7.000000  7.000000
mean  -0.391511 -0.122407  0.138219 -0.091501 -0.354761 -0.019026
std    1.074148  1.621537  0.753660  0.969569  0.641440  1.085068
min   -1.765162 -2.924495 -0.923662 -1.451190 -1.101397 -1.594260
25%   -1.149810 -0.399868 -0.206899 -0.739799 -0.839734 -0.692044
50%   -0.387270 -0.320345  0.166073  0.002069 -0.441306  0.485899
75%    0.201101  0.300414  0.334511  0.611154  0.017333  0.652799
max    1.309271  2.586897  1.469898  1.065904  0.704176  1.053668

In [59]:
df.info

<bound method DataFrame.info of                    U         V         W         X         Y         Z
2024-09-19  1.309271 -0.323835 -0.478679 -1.451190 -0.750772  0.792096
2024-09-20 -1.438935  0.405299  1.469898 -0.392773  0.704176  1.053668
2024-09-21 -0.047468  2.586897  0.166073 -1.086826  0.115395 -1.507472
2024-09-22 -0.860686 -2.924495  0.064880  1.065904 -0.441306  0.513502
2024-09-23 -1.765162 -0.320345 -0.923662  1.043826 -0.928696  0.485899
2024-09-24  0.449669  0.195528  0.481617  0.002069 -0.080730 -1.594260
2024-09-25 -0.387270 -0.475900  0.187406  0.178482 -1.101397  0.123384>

In [60]:
df2.T

,0,1,2,3
A,5.25,5.25,5.25,5.25
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [62]:
df.mean()

U   -0.391511
V   -0.122407
W    0.138219
X   -0.091501
Y   -0.354761
Z   -0.019026
dtype: float64

In [64]:
df2.mode()

      A          B    C    D      E    F
0  5.25 2013-01-02  1.0  3.0   test  foo
1   NaN        NaT  NaN  NaN  train  NaN

In [66]:
df.median()

U   -0.387270
V   -0.320345
W    0.166073
X    0.002069
Y   -0.441306
Z    0.485899
dtype: float64

In [68]:
df.mode()

          U         V         W         X         Y         Z
0 -1.765162 -2.924495 -0.923662 -1.451190 -1.101397 -1.594260
1 -1.438935 -0.475900 -0.478679 -1.086826 -0.928696 -1.507472
2 -0.860686 -0.323835  0.064880 -0.392773 -0.750772  0.123384
3 -0.387270 -0.320345  0.166073  0.002069 -0.441306  0.485899
4 -0.047468  0.195528  0.187406  0.178482 -0.080730  0.513502
5  0.449669  0.405299  0.481617  1.043826  0.115395  0.792096
6  1.309271  2.586897  1.469898  1.065904  0.704176  1.053668