### Importing Libraries
***

In [134]:
import pandas as pd
import numpy as np

### Creating a Series by passing a list of values through pandas
***

In [ ]:
ser = pd.Series([1,3,58,67,4,np.nan,15])
ser

### Creating data frame from excel file
***

In [ ]:
df1=pd.read_excel("Dataset.xlsx")
df1

### Knowing the type of dataset coloumns
***

In [ ]:
df1.dtypes

### Applying more functions on dataset
***

In [ ]:
df1.abs

In [ ]:
df1.add

In [ ]:
df1.add_prefix

In [ ]:
df1.add_suffix

In [ ]:
df1.align

In [ ]:
df1.all

In [ ]:
df1.any

In [ ]:
df1.apply

In [ ]:
df1.applymap

In [ ]:
df1.bool

In [ ]:
df1.clip

In [ ]:
df1.columns

In [ ]:
df1.count

In [ ]:
df1.combine

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
df1.duplicated()

### Viewing data of dataset
***

In [ ]:
df1.head()

In [ ]:
df1.tail(10)

### Viewing rows and columns name of dataset
***

In [ ]:
df1.index

In [ ]:
df1.columns

### Return a NumPy representation of the underlying data without the index or column labels!
***

In [ ]:
df1.to_numpy()

### Transposing the dataset values
***

In [ ]:
df1.T

### Sorting of dataset by indexes/values
***

In [ ]:
df1.sort_values(by="W")

### Selection of specific coloumn from dataset
***

In [ ]:
df1["Z"]

In [ ]:
df1.loc[:, ["W", "X"]]

In [ ]:
df1.iloc[0:7,2:14]

### Slicing of specific data from dataset
***

In [ ]:
df1[9:28]

### Plotting(Visual Representatin of Dataset)
***

In [166]:
import matplotlib.pyplot as plt
plt.close("all")

In [ ]:
dg = df1.cumsum()
plt.figure()
dg.plot()
plt.show()

### Converting dataset into CSV File
***

In [ ]:
df1.to_csv("Wajiha.csv")
pd.read_csv("Wajiha.csv")

### Writing and Reading dataset into a Parquet file
***

In [ ]:
df1.to_parquet("Dataset_Wajiha.parquet")
pd.read_parquet("Dataset_Wajiha.parquet")

### Calculate the Statistical value for each column of dataset
***

In [ ]:
df1["W"].mean()

In [ ]:
df1["X"].mean()

In [ ]:
df1["Y"].mean()

In [ ]:
df1["Z"].mean()

In [ ]:
df1["Y"].transform(lambda x: x * 101.2)

In [ ]:
df1["W"].transform(lambda x: x * 1.2)

In [ ]:
df1["Z"].agg(lambda x: np.mean(x) * 5.6)

In [ ]:
df1["Y"].agg(lambda x: np.mean(x) * 9)

### Concatenating different values of dataset through concat()

In [ ]:
cn = [df1[:2], df1[1:2], df1[2:]]
pd.concat(cn)

### Grouping by a specific coloumn in dataset
***

In [182]:
df1.groupby("W")[["Y", "Z"]].sum()

                 Y         Z
W
0.008238  0.788952  0.751480
0.008352  0.789690  0.356756
0.009307  0.266821  0.951158
0.022769  0.683994  0.130198
0.024362  0.809456  0.459835
...            ...       ...
0.965484  0.600580  0.636323
0.977599  0.563359  0.649053
0.978260  0.932499  0.346115
0.978513  0.315574  0.170158
0.981780  0.557144  0.457316

[199 rows x 2 columns]

### Merging Specific Columns of the dataset
***

In [185]:
df1['MergeColumn'] = df1['W'] + df1['X']
df1

              Names         W         X         Y         Z  sum_column
0              Amna  0.913219  0.643554  0.386762  0.921419    1.556773
1              John  0.048506  0.230879  0.880672  0.384132    0.279385
2              Sara  0.536085  0.538955  0.886494  0.269084    1.075040
3               Ali  0.462885  0.099918  0.771985  0.741209    0.562803
4        Mia Miller  0.136578  0.905017  0.068561  0.446129    1.041595
..              ...       ...       ...       ...       ...         ...
194   Zoey Martinez  0.138959  0.505072  0.147080  0.179923    0.644031
195      Mia Miller  0.219952  0.891328  0.559088  0.784738    1.111280
196  Victoria White  0.896845  0.205845  0.495631  0.058439    1.102690
197   Amelia Carter  0.575996  0.654831  0.211761  0.530341    1.230826
198    Aubrey Perez  0.934154  0.190827  0.943956  0.254513    1.124981

[199 rows x 6 columns]