In [1]:
import pandas as pd
file = pd.read_excel("practice_dataset.xlsx")
print(file)

     Age  Salary  Gender  Experience_Years Education_Level    City  Job_Role  \
0     18   63930  Female                 5     High School  City_B     Clerk
1     21   76774  Female                19          Master  City_B  Engineer
2     21   58651    Male                29     High School  City_B     Clerk
3     57   92885    Male                15          Master  City_D  Engineer
4     27   45997  Female                19     High School  City_D  Engineer
..   ...     ...     ...               ...             ...     ...       ...
195   41   32679    Male                 2        Bachelor  City_B   Manager
196   50  106723    Male                27             PhD  City_D   Analyst
197   29  100486  Female                 4     High School  City_D     Clerk
198   58   61222  Female                26        Bachelor  City_B   Analyst
199   38   98201    Male                19     High School  City_C     Clerk

     Work_Hours_Per_Week
0                     32
1                     37
2                     49
3                     39
4                     30
..                   ...
195                   31
196                   33
197                   46
198                   33
199                   35

[200 rows x 8 columns]

## File head

In [2]:
print(file.head(10))

   Age  Salary  Gender  Experience_Years Education_Level    City  Job_Role  \
0   18   63930  Female                 5     High School  City_B     Clerk
1   21   76774  Female                19          Master  City_B  Engineer
2   21   58651    Male                29     High School  City_B     Clerk
3   57   92885    Male                15          Master  City_D  Engineer
4   27   45997  Female                19     High School  City_D  Engineer
5   37   95180    Male                 2     High School  City_A  Engineer
6   39  104498    Male                13          Master  City_A   Manager
7   54   93003  Female                 1        Bachelor  City_B     Clerk
8   41  115971    Male                10     High School  City_B   Analyst
9   24   64009  Female                17             PhD  City_A   Manager

   Work_Hours_Per_Week
0                   32
1                   37
2                   49
3                   39
4                   30
5                   46
6                   47
7                   38
8                   49
9                   45

## **Generating File_info**

In [3]:
print(file.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  200 non-null    int64
 1   Salary               200 non-null    int64
 2   Gender               200 non-null    object
 3   Experience_Years     200 non-null    int64
 4   Education_Level      200 non-null    object
 5   City                 200 non-null    object
 6   Job_Role             200 non-null    object
 7   Work_Hours_Per_Week  200 non-null    int64
dtypes: int64(4), object(4)
memory usage: 12.6+ KB
None

## **Generating file columns**

In [4]:
print(file.columns)

Index(['Age', 'Salary', 'Gender', 'Experience_Years', 'Education_Level',
       'City', 'Job_Role', 'Work_Hours_Per_Week'],
      dtype='object')

## **Generate Tails**

In [5]:
print(file.tail(10))

     Age  Salary  Gender  Experience_Years Education_Level    City Job_Role  \
190   30   75463    Male                 2          Master  City_C  Manager
191   56   96589  Female                 6          Master  City_B    Clerk
192   53   49361  Female                 8        Bachelor  City_D  Manager
193   40   51875    Male                 1             PhD  City_B  Analyst
194   23   66661    Male                27             PhD  City_D    Clerk
195   41   32679    Male                 2        Bachelor  City_B  Manager
196   50  106723    Male                27             PhD  City_D  Analyst
197   29  100486  Female                 4     High School  City_D    Clerk
198   58   61222  Female                26        Bachelor  City_B  Analyst
199   38   98201    Male                19     High School  City_C    Clerk

     Work_Hours_Per_Week
190                   32
191                   31
192                   34
193                   38
194                   48
195                   31
196                   33
197                   46
198                   33
199                   35

## **describe the dataset**

In [6]:
print(file.describe())

              Age         Salary  Experience_Years  Work_Hours_Per_Week
count  200.000000     200.000000        200.000000           200.000000
mean    38.110000   78343.185000         14.905000            39.700000
std     12.817933   25908.587651          8.508699             6.130081
min     18.000000   30894.000000          1.000000            30.000000
25%     28.000000   55852.000000          7.000000            34.000000
50%     37.500000   78744.500000         15.000000            40.000000
75%     50.000000  100550.500000         22.000000            46.000000
max     59.000000  119987.000000         29.000000            49.000000

## **slicing the dataset**
Slice rows based on a condition in a column


 slicing with a condition

In [7]:
sliced_data_condition = file[file['Salary'] > 50000]  
print(sliced_data_condition)

     Age  Salary  Gender  Experience_Years Education_Level    City  Job_Role  \
0     18   63930  Female                 5     High School  City_B     Clerk
1     21   76774  Female                19          Master  City_B  Engineer
2     21   58651    Male                29     High School  City_B     Clerk
3     57   92885    Male                15          Master  City_D  Engineer
5     37   95180    Male                 2     High School  City_A  Engineer
..   ...     ...     ...               ...             ...     ...       ...
194   23   66661    Male                27             PhD  City_D     Clerk
196   50  106723    Male                27             PhD  City_D   Analyst
197   29  100486  Female                 4     High School  City_D     Clerk
198   58   61222  Female                26        Bachelor  City_B   Analyst
199   38   98201    Male                19     High School  City_C     Clerk

     Work_Hours_Per_Week
0                     32
1                     37
2                     49
3                     39
5                     46
..                   ...
194                   48
196                   33
197                   46
198                   33
199                   35

[165 rows x 8 columns]

## **Select rows where the value in 'Age' column matches the first value in 'Age' column**

In [8]:
sliced_data = file.loc[file['Age'] == 43]
print(sliced_data)

     Age  Salary  Gender  Experience_Years Education_Level    City Job_Role  \
20    43   32121  Female                 1     High School  City_C  Manager
162   43  113725    Male                 2          Master  City_D  Analyst

     Work_Hours_Per_Week
20                    32
162                   37